In [1]:
import numpy as np
import pandas as pd

In [12]:
df1 = pd.read_csv("2018_tomato_Env-Info_Daily.csv", encoding='cp949')
df2 = pd.read_csv("2019_tomato_Env-Info_Daily.csv", encoding='UTF8')
df3 = pd.read_csv("2020_tomato_Env-Info_Daily.csv", encoding='UTF8')
df4 = pd.read_csv("2021_tomato_Env-Info_Daily.csv", encoding='UTF8')
df5 = pd.read_csv("2022_tomato_Env-Info_Daily.csv", encoding='UTF8')

In [13]:
df1.head()

,수집일,내부CO2(ppm),내부습도(%),지습(%),강우감지,일사량(W/m-2·s),외부온도(도),내부온도(도),지온(도),외부풍속(m/s)
0,2018-07-21,421.63,78.46,0.0,604.17,297.50,29.08,30.46,33.79,0.63
1,2018-07-22,410.08,70.58,0.0,347.21,284.00,30.13,31.58,34.29,1.46
2,2018-07-23,381.33,71.17,0.0,0.00,314.92,29.67,31.29,34.79,0.67
3,2018-07-24,380.54,76.58,0.0,736.13,320.33,29.75,31.17,34.46,1.04
4,2018-07-25,372.25,78.83,0.0,597.21,249.04,28.96,30.50,32.96,0.88

In [14]:
df2.head()

,수집일,내부CO2(ppm),외부습도(%),내부습도(%),강우감지,(양액)총급액(ℓ),(양액)총배액(ℓ),일사량(W/m-2·s),외부온도(도),내부온도(도),지온(도),외부풍향(도),외부풍속(m/s)
0,2019-10-02,416.71,NaN,86.08,NaN,NaN,NaN,NaN,NaN,19.25,NaN,NaN,NaN
1,2019-10-03,363.83,NaN,83.92,NaN,NaN,NaN,NaN,NaN,20.83,NaN,NaN,NaN
2,2019-10-04,379.04,NaN,83.42,NaN,NaN,NaN,NaN,NaN,21.04,NaN,NaN,NaN
3,2019-10-05,370.13,NaN,83.29,NaN,NaN,NaN,NaN,NaN,18.25,NaN,NaN,NaN
4,2019-10-06,381.29,NaN,82.04,NaN,NaN,NaN,NaN,NaN,18.50,NaN,NaN,NaN

In [15]:
df3.head()

,수집일,내부CO2(ppm),내부습도(%),지습(%),강우감지,일사량(W/m-2·s),외부온도(도),내부온도(도),지온(도),외부풍속(m/s)
0,2020-11-06,NaN,95.0,NaN,NaN,NaN,NaN,17.0,NaN,NaN
1,2020-11-07,NaN,94.0,NaN,NaN,NaN,NaN,15.0,NaN,NaN
2,2020-11-08,NaN,92.0,NaN,NaN,NaN,NaN,17.0,NaN,NaN
3,2020-11-09,NaN,86.0,NaN,NaN,NaN,NaN,15.0,NaN,NaN
4,2020-11-11,NaN,96.0,NaN,NaN,NaN,NaN,16.0,NaN,NaN

In [16]:
df4.head()

,수집일,내부CO2(ppm),외부습도(%),내부습도(%),지습(%),외부강우(mm),일사량(W/m-2·s),외부온도(도),내부온도(도),지온(도),외부풍향(도),외부풍속(m/s)
0,2021-01-20,398.09,NaN,78.57,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1,2021-01-21,413.79,NaN,79.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-22,426.79,NaN,85.71,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
3,2021-01-23,453.38,NaN,83.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-24,434.83,NaN,80.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df5.head()

,수집일,내부CO2(ppm),이슬점온도(도),내부습도(%),일사량(W/m-2·s),외부온도(도),내부온도(도),지온(도),외부풍향(도),외부풍속(m/s)
0,2022-03-20,587.50,13.87,99.88,190.13,5.96,11.33,13.22,207.39,0.70
1,2022-03-21,587.63,17.83,99.92,195.78,7.48,14.46,18.30,207.39,1.43
2,2022-03-22,578.17,19.13,100.04,236.91,9.17,15.83,19.87,230.87,1.30
3,2022-03-23,595.58,19.13,99.96,187.65,8.09,15.25,19.57,215.22,1.09
4,2022-03-24,590.29,19.70,99.96,247.04,8.13,15.88,20.22,176.09,1.00

In [18]:
df1.columns

Index(['수집일', '내부CO2(ppm)', '내부습도(%)', '지습(%)', '강우감지', '일사량(W/m-2·s)',
       '외부온도(도)', '내부온도(도)', '지온(도)', '외부풍속(m/s)'],
      dtype='object')

In [19]:
df1

,수집일,내부CO2(ppm),내부습도(%),지습(%),강우감지,일사량(W/m-2·s),외부온도(도),내부온도(도),지온(도),외부풍속(m/s)
0,2018-07-21,421.63,78.46,0.00,604.17,297.50,29.08,30.46,33.79,0.63
1,2018-07-22,410.08,70.58,0.00,347.21,284.00,30.13,31.58,34.29,1.46
2,2018-07-23,381.33,71.17,0.00,0.00,314.92,29.67,31.29,34.79,0.67
3,2018-07-24,380.54,76.58,0.00,736.13,320.33,29.75,31.17,34.46,1.04
4,2018-07-25,372.25,78.83,0.00,597.21,249.04,28.96,30.50,32.96,0.88
...,...,...,...,...,...,...,...,...,...,...
328,2019-06-14,341.71,89.54,69.75,34.71,140.63,21.33,21.33,23.00,0.00
329,2019-06-15,330.67,87.46,71.29,0.00,324.00,19.88,21.25,23.25,1.54
330,2019-06-16,324.08,87.46,71.71,0.00,295.67,19.83,21.13,23.13,0.29
331,2019-06-17,330.33,86.96,59.63,0.00,306.96,20.38,21.42,23.04,0.00
332,2019-06-18,337.88,88.75,38.46,0.00,213.54,21.54,21.83,23.46,0.00

In [20]:
df1.drop(['강우감지', '지온(도)'], axis = 1)

,수집일,내부CO2(ppm),내부습도(%),지습(%),일사량(W/m-2·s),외부온도(도),내부온도(도),외부풍속(m/s)
0,2018-07-21,421.63,78.46,0.00,297.50,29.08,30.46,0.63
1,2018-07-22,410.08,70.58,0.00,284.00,30.13,31.58,1.46
2,2018-07-23,381.33,71.17,0.00,314.92,29.67,31.29,0.67
3,2018-07-24,380.54,76.58,0.00,320.33,29.75,31.17,1.04
4,2018-07-25,372.25,78.83,0.00,249.04,28.96,30.50,0.88
...,...,...,...,...,...,...,...,...
328,2019-06-14,341.71,89.54,69.75,140.63,21.33,21.33,0.00
329,2019-06-15,330.67,87.46,71.29,324.00,19.88,21.25,1.54
330,2019-06-16,324.08,87.46,71.71,295.67,19.83,21.13,0.29
331,2019-06-17,330.33,86.96,59.63,306.96,20.38,21.42,0.00
332,2019-06-18,337.88,88.75,38.46,213.54,21.54,21.83,0.00

In [21]:
df2.drop(['강우감지', '지온(도)'], axis = 1)

,수집일,내부CO2(ppm),외부습도(%),내부습도(%),(양액)총급액(ℓ),(양액)총배액(ℓ),일사량(W/m-2·s),외부온도(도),내부온도(도),외부풍향(도),외부풍속(m/s)
0,2019-10-02,416.71,NaN,86.08,NaN,NaN,NaN,NaN,19.25,NaN,NaN
1,2019-10-03,363.83,NaN,83.92,NaN,NaN,NaN,NaN,20.83,NaN,NaN
2,2019-10-04,379.04,NaN,83.42,NaN,NaN,NaN,NaN,21.04,NaN,NaN
3,2019-10-05,370.13,NaN,83.29,NaN,NaN,NaN,NaN,18.25,NaN,NaN
4,2019-10-06,381.29,NaN,82.04,NaN,NaN,NaN,NaN,18.50,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
103,2020-01-13,712.29,62.6,81.08,20.0,300.0,230.53,3.07,15.71,7.07,1.9
104,2020-01-14,780.83,NaN,75.63,NaN,NaN,NaN,NaN,18.38,NaN,NaN
105,2020-01-15,753.33,NaN,64.96,NaN,NaN,NaN,NaN,19.21,NaN,NaN
106,2020-01-16,721.83,NaN,65.88,NaN,NaN,NaN,NaN,19.88,NaN,NaN
107,2020-01-17,749.21,NaN,68.00,NaN,NaN,NaN,NaN,20.32,NaN,NaN

In [22]:
df2.drop(['(양액)총급액(ℓ)', '(양액)총배액(ℓ)', '외부풍향(도)'], axis = 1)

,수집일,내부CO2(ppm),외부습도(%),내부습도(%),강우감지,일사량(W/m-2·s),외부온도(도),내부온도(도),지온(도),외부풍속(m/s)
0,2019-10-02,416.71,NaN,86.08,NaN,NaN,NaN,19.25,NaN,NaN
1,2019-10-03,363.83,NaN,83.92,NaN,NaN,NaN,20.83,NaN,NaN
2,2019-10-04,379.04,NaN,83.42,NaN,NaN,NaN,21.04,NaN,NaN
3,2019-10-05,370.13,NaN,83.29,NaN,NaN,NaN,18.25,NaN,NaN
4,2019-10-06,381.29,NaN,82.04,NaN,NaN,NaN,18.50,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
103,2020-01-13,712.29,62.6,81.08,0.0,230.53,3.07,15.71,-24.0,1.9
104,2020-01-14,780.83,NaN,75.63,NaN,NaN,NaN,18.38,NaN,NaN
105,2020-01-15,753.33,NaN,64.96,NaN,NaN,NaN,19.21,NaN,NaN
106,2020-01-16,721.83,NaN,65.88,NaN,NaN,NaN,19.88,NaN,NaN
107,2020-01-17,749.21,NaN,68.00,NaN,NaN,NaN,20.32,NaN,NaN

In [23]:
df1.drop(['외부풍속(m/s)'], axis = 1)

,수집일,내부CO2(ppm),내부습도(%),지습(%),강우감지,일사량(W/m-2·s),외부온도(도),내부온도(도),지온(도)
0,2018-07-21,421.63,78.46,0.00,604.17,297.50,29.08,30.46,33.79
1,2018-07-22,410.08,70.58,0.00,347.21,284.00,30.13,31.58,34.29
2,2018-07-23,381.33,71.17,0.00,0.00,314.92,29.67,31.29,34.79
3,2018-07-24,380.54,76.58,0.00,736.13,320.33,29.75,31.17,34.46
4,2018-07-25,372.25,78.83,0.00,597.21,249.04,28.96,30.50,32.96
...,...,...,...,...,...,...,...,...,...
328,2019-06-14,341.71,89.54,69.75,34.71,140.63,21.33,21.33,23.00
329,2019-06-15,330.67,87.46,71.29,0.00,324.00,19.88,21.25,23.25
330,2019-06-16,324.08,87.46,71.71,0.00,295.67,19.83,21.13,23.13
331,2019-06-17,330.33,86.96,59.63,0.00,306.96,20.38,21.42,23.04
332,2019-06-18,337.88,88.75,38.46,0.00,213.54,21.54,21.83,23.46

In [24]:
df2.drop(['외부풍속(m/s)'], axis = 1)

,수집일,내부CO2(ppm),외부습도(%),내부습도(%),강우감지,(양액)총급액(ℓ),(양액)총배액(ℓ),일사량(W/m-2·s),외부온도(도),내부온도(도),지온(도),외부풍향(도)
0,2019-10-02,416.71,NaN,86.08,NaN,NaN,NaN,NaN,NaN,19.25,NaN,NaN
1,2019-10-03,363.83,NaN,83.92,NaN,NaN,NaN,NaN,NaN,20.83,NaN,NaN
2,2019-10-04,379.04,NaN,83.42,NaN,NaN,NaN,NaN,NaN,21.04,NaN,NaN
3,2019-10-05,370.13,NaN,83.29,NaN,NaN,NaN,NaN,NaN,18.25,NaN,NaN
4,2019-10-06,381.29,NaN,82.04,NaN,NaN,NaN,NaN,NaN,18.50,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
103,2020-01-13,712.29,62.6,81.08,0.0,20.0,300.0,230.53,3.07,15.71,-24.0,7.07
104,2020-01-14,780.83,NaN,75.63,NaN,NaN,NaN,NaN,NaN,18.38,NaN,NaN
105,2020-01-15,753.33,NaN,64.96,NaN,NaN,NaN,NaN,NaN,19.21,NaN,NaN
106,2020-01-16,721.83,NaN,65.88,NaN,NaN,NaN,NaN,NaN,19.88,NaN,NaN
107,2020-01-17,749.21,NaN,68.00,NaN,NaN,NaN,NaN,NaN,20.32,NaN,NaN

In [25]:
df2.drop(['지온(도)', '외부풍속(m/s)'], axis = 1)

,수집일,내부CO2(ppm),외부습도(%),내부습도(%),강우감지,(양액)총급액(ℓ),(양액)총배액(ℓ),일사량(W/m-2·s),외부온도(도),내부온도(도),외부풍향(도)
0,2019-10-02,416.71,NaN,86.08,NaN,NaN,NaN,NaN,NaN,19.25,NaN
1,2019-10-03,363.83,NaN,83.92,NaN,NaN,NaN,NaN,NaN,20.83,NaN
2,2019-10-04,379.04,NaN,83.42,NaN,NaN,NaN,NaN,NaN,21.04,NaN
3,2019-10-05,370.13,NaN,83.29,NaN,NaN,NaN,NaN,NaN,18.25,NaN
4,2019-10-06,381.29,NaN,82.04,NaN,NaN,NaN,NaN,NaN,18.50,NaN
...,...,...,...,...,...,...,...,...,...,...,...
103,2020-01-13,712.29,62.6,81.08,0.0,20.0,300.0,230.53,3.07,15.71,7.07
104,2020-01-14,780.83,NaN,75.63,NaN,NaN,NaN,NaN,NaN,18.38,NaN
105,2020-01-15,753.33,NaN,64.96,NaN,NaN,NaN,NaN,NaN,19.21,NaN
106,2020-01-16,721.83,NaN,65.88,NaN,NaN,NaN,NaN,NaN,19.88,NaN
107,2020-01-17,749.21,NaN,68.00,NaN,NaN,NaN,NaN,NaN,20.32,NaN

In [26]:
df2.drop(['강우감지', '지온(도)', '외부풍속(m/s)'], axis = 1, inplace=True)

In [28]:
df2.drop(['외부풍향(도)', '(양액)총급액(ℓ)', '(양액)총배액(ℓ)'], axis = 1, inplace=True)

In [29]:
df2

            수집일  내부CO2(ppm)  외부습도(%)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0    2019-10-02      416.71      NaN    86.08           NaN      NaN    19.25
1    2019-10-03      363.83      NaN    83.92           NaN      NaN    20.83
2    2019-10-04      379.04      NaN    83.42           NaN      NaN    21.04
3    2019-10-05      370.13      NaN    83.29           NaN      NaN    18.25
4    2019-10-06      381.29      NaN    82.04           NaN      NaN    18.50
..          ...         ...      ...      ...           ...      ...      ...
103  2020-01-13      712.29     62.6    81.08        230.53     3.07    15.71
104  2020-01-14      780.83      NaN    75.63           NaN      NaN    18.38
105  2020-01-15      753.33      NaN    64.96           NaN      NaN    19.21
106  2020-01-16      721.83      NaN    65.88           NaN      NaN    19.88
107  2020-01-17      749.21      NaN    68.00           NaN      NaN    20.32

[108 rows x 7 columns]

In [30]:
df1

,수집일,내부CO2(ppm),내부습도(%),지습(%),강우감지,일사량(W/m-2·s),외부온도(도),내부온도(도),지온(도),외부풍속(m/s)
0,2018-07-21,421.63,78.46,0.00,604.17,297.50,29.08,30.46,33.79,0.63
1,2018-07-22,410.08,70.58,0.00,347.21,284.00,30.13,31.58,34.29,1.46
2,2018-07-23,381.33,71.17,0.00,0.00,314.92,29.67,31.29,34.79,0.67
3,2018-07-24,380.54,76.58,0.00,736.13,320.33,29.75,31.17,34.46,1.04
4,2018-07-25,372.25,78.83,0.00,597.21,249.04,28.96,30.50,32.96,0.88
...,...,...,...,...,...,...,...,...,...,...
328,2019-06-14,341.71,89.54,69.75,34.71,140.63,21.33,21.33,23.00,0.00
329,2019-06-15,330.67,87.46,71.29,0.00,324.00,19.88,21.25,23.25,1.54
330,2019-06-16,324.08,87.46,71.71,0.00,295.67,19.83,21.13,23.13,0.29
331,2019-06-17,330.33,86.96,59.63,0.00,306.96,20.38,21.42,23.04,0.00
332,2019-06-18,337.88,88.75,38.46,0.00,213.54,21.54,21.83,23.46,0.00

In [31]:
df1.drop(['강우감지', '지온(도)', '외부풍속(m/s)'], axis = 1, inplace=True)

In [32]:
df1

            수집일  내부CO2(ppm)  내부습도(%)  지습(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0    2018-07-21      421.63    78.46   0.00        297.50    29.08    30.46
1    2018-07-22      410.08    70.58   0.00        284.00    30.13    31.58
2    2018-07-23      381.33    71.17   0.00        314.92    29.67    31.29
3    2018-07-24      380.54    76.58   0.00        320.33    29.75    31.17
4    2018-07-25      372.25    78.83   0.00        249.04    28.96    30.50
..          ...         ...      ...    ...           ...      ...      ...
328  2019-06-14      341.71    89.54  69.75        140.63    21.33    21.33
329  2019-06-15      330.67    87.46  71.29        324.00    19.88    21.25
330  2019-06-16      324.08    87.46  71.71        295.67    19.83    21.13
331  2019-06-17      330.33    86.96  59.63        306.96    20.38    21.42
332  2019-06-18      337.88    88.75  38.46        213.54    21.54    21.83

[333 rows x 7 columns]

In [33]:
df3

,수집일,내부CO2(ppm),내부습도(%),지습(%),강우감지,일사량(W/m-2·s),외부온도(도),내부온도(도),지온(도),외부풍속(m/s)
0,2020-11-06,NaN,95.00,NaN,NaN,NaN,NaN,17.00,NaN,NaN
1,2020-11-07,NaN,94.00,NaN,NaN,NaN,NaN,15.00,NaN,NaN
2,2020-11-08,NaN,92.00,NaN,NaN,NaN,NaN,17.00,NaN,NaN
3,2020-11-09,NaN,86.00,NaN,NaN,NaN,NaN,15.00,NaN,NaN
4,2020-11-11,NaN,96.00,NaN,NaN,NaN,NaN,16.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
183,2021-06-26,409.13,32.83,96.65,0.1,265.75,22.23,16.25,24.60,0.77
184,2021-06-27,401.29,32.71,96.61,0.0,272.59,22.89,16.33,24.00,0.68
185,2021-06-28,397.00,32.75,96.52,0.0,162.14,24.21,16.75,25.20,0.68
186,2021-06-29,401.08,32.71,96.50,0.0,243.88,23.52,16.96,25.62,1.09
187,2021-06-30,395.67,35.00,96.58,0.0,211.10,24.00,16.50,24.91,0.68

In [34]:
df3.drop(['강우감지', '지온(도)', '외부풍속(m/s)'], axis = 1, inplace=True)

In [35]:
df3

            수집일  내부CO2(ppm)  내부습도(%)  지습(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0    2020-11-06         NaN    95.00    NaN           NaN      NaN    17.00
1    2020-11-07         NaN    94.00    NaN           NaN      NaN    15.00
2    2020-11-08         NaN    92.00    NaN           NaN      NaN    17.00
3    2020-11-09         NaN    86.00    NaN           NaN      NaN    15.00
4    2020-11-11         NaN    96.00    NaN           NaN      NaN    16.00
..          ...         ...      ...    ...           ...      ...      ...
183  2021-06-26      409.13    32.83  96.65        265.75    22.23    16.25
184  2021-06-27      401.29    32.71  96.61        272.59    22.89    16.33
185  2021-06-28      397.00    32.75  96.52        162.14    24.21    16.75
186  2021-06-29      401.08    32.71  96.50        243.88    23.52    16.96
187  2021-06-30      395.67    35.00  96.58        211.10    24.00    16.50

[188 rows x 7 columns]

In [36]:
df4

,수집일,내부CO2(ppm),외부습도(%),내부습도(%),지습(%),외부강우(mm),일사량(W/m-2·s),외부온도(도),내부온도(도),지온(도),외부풍향(도),외부풍속(m/s)
0,2021-01-20,398.09,NaN,78.57,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN
1,2021-01-21,413.79,NaN,79.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-22,426.79,NaN,85.71,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN
3,2021-01-23,453.38,NaN,83.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-24,434.83,NaN,80.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
167,2021-07-06,413.50,83.29,99.08,16.14,1.00,201.05,25.41,24.00,26.64,57.00,0.33
168,2021-07-07,403.71,86.06,99.21,25.58,0.76,165.95,26.27,24.79,28.10,71.42,0.46
169,2021-07-08,385.29,86.95,99.54,26.24,0.95,239.70,26.06,24.25,27.39,49.00,0.64
170,2021-07-09,384.21,84.50,99.54,24.58,1.00,224.10,25.25,23.63,26.22,46.42,0.37
171,2021-07-10,390.00,82.47,99.58,25.18,0.95,234.85,25.85,24.04,25.74,54.50,0.74

In [39]:
df3

            수집일  내부CO2(ppm)  내부습도(%)  지습(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0    2020-11-06         NaN    95.00    NaN           NaN      NaN    17.00
1    2020-11-07         NaN    94.00    NaN           NaN      NaN    15.00
2    2020-11-08         NaN    92.00    NaN           NaN      NaN    17.00
3    2020-11-09         NaN    86.00    NaN           NaN      NaN    15.00
4    2020-11-11         NaN    96.00    NaN           NaN      NaN    16.00
..          ...         ...      ...    ...           ...      ...      ...
183  2021-06-26      409.13    32.83  96.65        265.75    22.23    16.25
184  2021-06-27      401.29    32.71  96.61        272.59    22.89    16.33
185  2021-06-28      397.00    32.75  96.52        162.14    24.21    16.75
186  2021-06-29      401.08    32.71  96.50        243.88    23.52    16.96
187  2021-06-30      395.67    35.00  96.58        211.10    24.00    16.50

[188 rows x 7 columns]

In [40]:
df4

,수집일,내부CO2(ppm),외부습도(%),내부습도(%),지습(%),외부강우(mm),일사량(W/m-2·s),외부온도(도),내부온도(도),지온(도),외부풍향(도),외부풍속(m/s)
0,2021-01-20,398.09,NaN,78.57,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN
1,2021-01-21,413.79,NaN,79.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-22,426.79,NaN,85.71,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN
3,2021-01-23,453.38,NaN,83.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-24,434.83,NaN,80.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
167,2021-07-06,413.50,83.29,99.08,16.14,1.00,201.05,25.41,24.00,26.64,57.00,0.33
168,2021-07-07,403.71,86.06,99.21,25.58,0.76,165.95,26.27,24.79,28.10,71.42,0.46
169,2021-07-08,385.29,86.95,99.54,26.24,0.95,239.70,26.06,24.25,27.39,49.00,0.64
170,2021-07-09,384.21,84.50,99.54,24.58,1.00,224.10,25.25,23.63,26.22,46.42,0.37
171,2021-07-10,390.00,82.47,99.58,25.18,0.95,234.85,25.85,24.04,25.74,54.50,0.74

In [41]:
df4.drop(['외부강우(mm)', '지온(도)', '외부풍향(도)', '외부풍속(m/s)'], axis = 1, inplace=True)

In [42]:
df4

,수집일,내부CO2(ppm),외부습도(%),내부습도(%),지습(%),일사량(W/m-2·s),외부온도(도),내부온도(도)
0,2021-01-20,398.09,NaN,78.57,NaN,0.00,NaN,NaN
1,2021-01-21,413.79,NaN,79.88,NaN,NaN,NaN,NaN
2,2021-01-22,426.79,NaN,85.71,NaN,0.00,NaN,NaN
3,2021-01-23,453.38,NaN,83.52,NaN,NaN,NaN,NaN
4,2021-01-24,434.83,NaN,80.58,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
167,2021-07-06,413.50,83.29,99.08,16.14,201.05,25.41,24.00
168,2021-07-07,403.71,86.06,99.21,25.58,165.95,26.27,24.79
169,2021-07-08,385.29,86.95,99.54,26.24,239.70,26.06,24.25
170,2021-07-09,384.21,84.50,99.54,24.58,224.10,25.25,23.63
171,2021-07-10,390.00,82.47,99.58,25.18,234.85,25.85,24.04

In [43]:
df5

,수집일,내부CO2(ppm),이슬점온도(도),내부습도(%),일사량(W/m-2·s),외부온도(도),내부온도(도),지온(도),외부풍향(도),외부풍속(m/s)
0,2022-03-20,587.50,13.87,99.88,190.13,5.96,11.33,13.22,207.39,0.70
1,2022-03-21,587.63,17.83,99.92,195.78,7.48,14.46,18.30,207.39,1.43
2,2022-03-22,578.17,19.13,100.04,236.91,9.17,15.83,19.87,230.87,1.30
3,2022-03-23,595.58,19.13,99.96,187.65,8.09,15.25,19.57,215.22,1.09
4,2022-03-24,590.29,19.70,99.96,247.04,8.13,15.88,20.22,176.09,1.00
...,...,...,...,...,...,...,...,...,...,...
128,2022-07-26,502.83,26.17,99.00,225.08,25.54,25.88,26.46,97.50,0.63
129,2022-07-27,494.13,25.88,97.71,261.63,25.67,25.88,26.17,180.00,0.71
130,2022-07-28,493.54,26.96,98.13,178.17,26.67,26.79,26.96,210.00,0.54
131,2022-07-29,524.96,28.48,97.17,293.96,28.70,28.79,28.17,246.52,1.00
132,2022-07-30,484.83,27.25,98.29,152.75,27.75,27.50,27.67,262.50,0.79

In [44]:
df5.drop(['이슬점온도(도)', '지온(도)', '외부풍향(도)', '외부풍속(m/s)'], axis = 1, inplace=True)

In [45]:
df5

            수집일  내부CO2(ppm)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0    2022-03-20      587.50    99.88        190.13     5.96    11.33
1    2022-03-21      587.63    99.92        195.78     7.48    14.46
2    2022-03-22      578.17   100.04        236.91     9.17    15.83
3    2022-03-23      595.58    99.96        187.65     8.09    15.25
4    2022-03-24      590.29    99.96        247.04     8.13    15.88
..          ...         ...      ...           ...      ...      ...
128  2022-07-26      502.83    99.00        225.08    25.54    25.88
129  2022-07-27      494.13    97.71        261.63    25.67    25.88
130  2022-07-28      493.54    98.13        178.17    26.67    26.79
131  2022-07-29      524.96    97.17        293.96    28.70    28.79
132  2022-07-30      484.83    98.29        152.75    27.75    27.50

[133 rows x 6 columns]

In [46]:
df1.drop(['지습(%)'], axis = 1, inplace=True)

In [47]:
df2.drop(['지습(%)'], axis = 1, inplace=True)

KeyError: "['지습(%)'] not found in axis"

In [48]:
df2

            수집일  내부CO2(ppm)  외부습도(%)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0    2019-10-02      416.71      NaN    86.08           NaN      NaN    19.25
1    2019-10-03      363.83      NaN    83.92           NaN      NaN    20.83
2    2019-10-04      379.04      NaN    83.42           NaN      NaN    21.04
3    2019-10-05      370.13      NaN    83.29           NaN      NaN    18.25
4    2019-10-06      381.29      NaN    82.04           NaN      NaN    18.50
..          ...         ...      ...      ...           ...      ...      ...
103  2020-01-13      712.29     62.6    81.08        230.53     3.07    15.71
104  2020-01-14      780.83      NaN    75.63           NaN      NaN    18.38
105  2020-01-15      753.33      NaN    64.96           NaN      NaN    19.21
106  2020-01-16      721.83      NaN    65.88           NaN      NaN    19.88
107  2020-01-17      749.21      NaN    68.00           NaN      NaN    20.32

[108 rows x 7 columns]

In [49]:
df3

            수집일  내부CO2(ppm)  내부습도(%)  지습(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0    2020-11-06         NaN    95.00    NaN           NaN      NaN    17.00
1    2020-11-07         NaN    94.00    NaN           NaN      NaN    15.00
2    2020-11-08         NaN    92.00    NaN           NaN      NaN    17.00
3    2020-11-09         NaN    86.00    NaN           NaN      NaN    15.00
4    2020-11-11         NaN    96.00    NaN           NaN      NaN    16.00
..          ...         ...      ...    ...           ...      ...      ...
183  2021-06-26      409.13    32.83  96.65        265.75    22.23    16.25
184  2021-06-27      401.29    32.71  96.61        272.59    22.89    16.33
185  2021-06-28      397.00    32.75  96.52        162.14    24.21    16.75
186  2021-06-29      401.08    32.71  96.50        243.88    23.52    16.96
187  2021-06-30      395.67    35.00  96.58        211.10    24.00    16.50

[188 rows x 7 columns]

In [50]:
df3.drop(['지습(%)'], axis = 1, inplace=True)

In [51]:
df4

,수집일,내부CO2(ppm),외부습도(%),내부습도(%),지습(%),일사량(W/m-2·s),외부온도(도),내부온도(도)
0,2021-01-20,398.09,NaN,78.57,NaN,0.00,NaN,NaN
1,2021-01-21,413.79,NaN,79.88,NaN,NaN,NaN,NaN
2,2021-01-22,426.79,NaN,85.71,NaN,0.00,NaN,NaN
3,2021-01-23,453.38,NaN,83.52,NaN,NaN,NaN,NaN
4,2021-01-24,434.83,NaN,80.58,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
167,2021-07-06,413.50,83.29,99.08,16.14,201.05,25.41,24.00
168,2021-07-07,403.71,86.06,99.21,25.58,165.95,26.27,24.79
169,2021-07-08,385.29,86.95,99.54,26.24,239.70,26.06,24.25
170,2021-07-09,384.21,84.50,99.54,24.58,224.10,25.25,23.63
171,2021-07-10,390.00,82.47,99.58,25.18,234.85,25.85,24.04

In [52]:
df4.drop(['지습(%)'], axis = 1, inplace=True)

In [53]:
df5

            수집일  내부CO2(ppm)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0    2022-03-20      587.50    99.88        190.13     5.96    11.33
1    2022-03-21      587.63    99.92        195.78     7.48    14.46
2    2022-03-22      578.17   100.04        236.91     9.17    15.83
3    2022-03-23      595.58    99.96        187.65     8.09    15.25
4    2022-03-24      590.29    99.96        247.04     8.13    15.88
..          ...         ...      ...           ...      ...      ...
128  2022-07-26      502.83    99.00        225.08    25.54    25.88
129  2022-07-27      494.13    97.71        261.63    25.67    25.88
130  2022-07-28      493.54    98.13        178.17    26.67    26.79
131  2022-07-29      524.96    97.17        293.96    28.70    28.79
132  2022-07-30      484.83    98.29        152.75    27.75    27.50

[133 rows x 6 columns]

In [54]:
df1.isnull().sum()

수집일              0
내부CO2(ppm)      15
내부습도(%)          8
일사량(W/m-2·s)    15
외부온도(도)         15
내부온도(도)          0
dtype: int64

In [55]:
df1

            수집일  내부CO2(ppm)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0    2018-07-21      421.63    78.46        297.50    29.08    30.46
1    2018-07-22      410.08    70.58        284.00    30.13    31.58
2    2018-07-23      381.33    71.17        314.92    29.67    31.29
3    2018-07-24      380.54    76.58        320.33    29.75    31.17
4    2018-07-25      372.25    78.83        249.04    28.96    30.50
..          ...         ...      ...           ...      ...      ...
328  2019-06-14      341.71    89.54        140.63    21.33    21.33
329  2019-06-15      330.67    87.46        324.00    19.88    21.25
330  2019-06-16      324.08    87.46        295.67    19.83    21.13
331  2019-06-17      330.33    86.96        306.96    20.38    21.42
332  2019-06-18      337.88    88.75        213.54    21.54    21.83

[333 rows x 6 columns]

In [56]:
df2.isnull().sum()

수집일              0
내부CO2(ppm)       0
외부습도(%)         33
내부습도(%)          0
일사량(W/m-2·s)    33
외부온도(도)         33
내부온도(도)          0
dtype: int64

In [57]:
df2

            수집일  내부CO2(ppm)  외부습도(%)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0    2019-10-02      416.71      NaN    86.08           NaN      NaN    19.25
1    2019-10-03      363.83      NaN    83.92           NaN      NaN    20.83
2    2019-10-04      379.04      NaN    83.42           NaN      NaN    21.04
3    2019-10-05      370.13      NaN    83.29           NaN      NaN    18.25
4    2019-10-06      381.29      NaN    82.04           NaN      NaN    18.50
..          ...         ...      ...      ...           ...      ...      ...
103  2020-01-13      712.29     62.6    81.08        230.53     3.07    15.71
104  2020-01-14      780.83      NaN    75.63           NaN      NaN    18.38
105  2020-01-15      753.33      NaN    64.96           NaN      NaN    19.21
106  2020-01-16      721.83      NaN    65.88           NaN      NaN    19.88
107  2020-01-17      749.21      NaN    68.00           NaN      NaN    20.32

[108 rows x 7 columns]

In [58]:
df3.isnull().sum()

수집일              0
내부CO2(ppm)       6
내부습도(%)          1
일사량(W/m-2·s)    12
외부온도(도)         11
내부온도(도)          0
dtype: int64

In [59]:
df3

            수집일  내부CO2(ppm)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0    2020-11-06         NaN    95.00           NaN      NaN    17.00
1    2020-11-07         NaN    94.00           NaN      NaN    15.00
2    2020-11-08         NaN    92.00           NaN      NaN    17.00
3    2020-11-09         NaN    86.00           NaN      NaN    15.00
4    2020-11-11         NaN    96.00           NaN      NaN    16.00
..          ...         ...      ...           ...      ...      ...
183  2021-06-26      409.13    32.83        265.75    22.23    16.25
184  2021-06-27      401.29    32.71        272.59    22.89    16.33
185  2021-06-28      397.00    32.75        162.14    24.21    16.75
186  2021-06-29      401.08    32.71        243.88    23.52    16.96
187  2021-06-30      395.67    35.00        211.10    24.00    16.50

[188 rows x 6 columns]

In [60]:
df4.isnull().sum()

수집일              0
내부CO2(ppm)       0
외부습도(%)         17
내부습도(%)          0
일사량(W/m-2·s)     4
외부온도(도)         17
내부온도(도)         29
dtype: int64

In [61]:
df4

            수집일  내부CO2(ppm)  외부습도(%)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0    2021-01-20      398.09      NaN    78.57          0.00      NaN      NaN
1    2021-01-21      413.79      NaN    79.88           NaN      NaN      NaN
2    2021-01-22      426.79      NaN    85.71          0.00      NaN      NaN
3    2021-01-23      453.38      NaN    83.52           NaN      NaN      NaN
4    2021-01-24      434.83      NaN    80.58           NaN      NaN      NaN
..          ...         ...      ...      ...           ...      ...      ...
167  2021-07-06      413.50    83.29    99.08        201.05    25.41    24.00
168  2021-07-07      403.71    86.06    99.21        165.95    26.27    24.79
169  2021-07-08      385.29    86.95    99.54        239.70    26.06    24.25
170  2021-07-09      384.21    84.50    99.54        224.10    25.25    23.63
171  2021-07-10      390.00    82.47    99.58        234.85    25.85    24.04

[172 rows x 7 columns]

In [62]:
df5.isnull().sum()

수집일             0
내부CO2(ppm)      0
내부습도(%)         0
일사량(W/m-2·s)    2
외부온도(도)         2
내부온도(도)         0
dtype: int64

In [63]:
df5

            수집일  내부CO2(ppm)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0    2022-03-20      587.50    99.88        190.13     5.96    11.33
1    2022-03-21      587.63    99.92        195.78     7.48    14.46
2    2022-03-22      578.17   100.04        236.91     9.17    15.83
3    2022-03-23      595.58    99.96        187.65     8.09    15.25
4    2022-03-24      590.29    99.96        247.04     8.13    15.88
..          ...         ...      ...           ...      ...      ...
128  2022-07-26      502.83    99.00        225.08    25.54    25.88
129  2022-07-27      494.13    97.71        261.63    25.67    25.88
130  2022-07-28      493.54    98.13        178.17    26.67    26.79
131  2022-07-29      524.96    97.17        293.96    28.70    28.79
132  2022-07-30      484.83    98.29        152.75    27.75    27.50

[133 rows x 6 columns]

In [64]:
df1

            수집일  내부CO2(ppm)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0    2018-07-21      421.63    78.46        297.50    29.08    30.46
1    2018-07-22      410.08    70.58        284.00    30.13    31.58
2    2018-07-23      381.33    71.17        314.92    29.67    31.29
3    2018-07-24      380.54    76.58        320.33    29.75    31.17
4    2018-07-25      372.25    78.83        249.04    28.96    30.50
..          ...         ...      ...           ...      ...      ...
328  2019-06-14      341.71    89.54        140.63    21.33    21.33
329  2019-06-15      330.67    87.46        324.00    19.88    21.25
330  2019-06-16      324.08    87.46        295.67    19.83    21.13
331  2019-06-17      330.33    86.96        306.96    20.38    21.42
332  2019-06-18      337.88    88.75        213.54    21.54    21.83

[333 rows x 6 columns]

In [65]:
df2

            수집일  내부CO2(ppm)  외부습도(%)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0    2019-10-02      416.71      NaN    86.08           NaN      NaN    19.25
1    2019-10-03      363.83      NaN    83.92           NaN      NaN    20.83
2    2019-10-04      379.04      NaN    83.42           NaN      NaN    21.04
3    2019-10-05      370.13      NaN    83.29           NaN      NaN    18.25
4    2019-10-06      381.29      NaN    82.04           NaN      NaN    18.50
..          ...         ...      ...      ...           ...      ...      ...
103  2020-01-13      712.29     62.6    81.08        230.53     3.07    15.71
104  2020-01-14      780.83      NaN    75.63           NaN      NaN    18.38
105  2020-01-15      753.33      NaN    64.96           NaN      NaN    19.21
106  2020-01-16      721.83      NaN    65.88           NaN      NaN    19.88
107  2020-01-17      749.21      NaN    68.00           NaN      NaN    20.32

[108 rows x 7 columns]

In [66]:
df2.drop(['외부습도(%)'], axis=1, inplace=True)

In [67]:
df2

            수집일  내부CO2(ppm)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0    2019-10-02      416.71    86.08           NaN      NaN    19.25
1    2019-10-03      363.83    83.92           NaN      NaN    20.83
2    2019-10-04      379.04    83.42           NaN      NaN    21.04
3    2019-10-05      370.13    83.29           NaN      NaN    18.25
4    2019-10-06      381.29    82.04           NaN      NaN    18.50
..          ...         ...      ...           ...      ...      ...
103  2020-01-13      712.29    81.08        230.53     3.07    15.71
104  2020-01-14      780.83    75.63           NaN      NaN    18.38
105  2020-01-15      753.33    64.96           NaN      NaN    19.21
106  2020-01-16      721.83    65.88           NaN      NaN    19.88
107  2020-01-17      749.21    68.00           NaN      NaN    20.32

[108 rows x 6 columns]

In [68]:
df3

            수집일  내부CO2(ppm)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0    2020-11-06         NaN    95.00           NaN      NaN    17.00
1    2020-11-07         NaN    94.00           NaN      NaN    15.00
2    2020-11-08         NaN    92.00           NaN      NaN    17.00
3    2020-11-09         NaN    86.00           NaN      NaN    15.00
4    2020-11-11         NaN    96.00           NaN      NaN    16.00
..          ...         ...      ...           ...      ...      ...
183  2021-06-26      409.13    32.83        265.75    22.23    16.25
184  2021-06-27      401.29    32.71        272.59    22.89    16.33
185  2021-06-28      397.00    32.75        162.14    24.21    16.75
186  2021-06-29      401.08    32.71        243.88    23.52    16.96
187  2021-06-30      395.67    35.00        211.10    24.00    16.50

[188 rows x 6 columns]

In [69]:
df4

            수집일  내부CO2(ppm)  외부습도(%)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0    2021-01-20      398.09      NaN    78.57          0.00      NaN      NaN
1    2021-01-21      413.79      NaN    79.88           NaN      NaN      NaN
2    2021-01-22      426.79      NaN    85.71          0.00      NaN      NaN
3    2021-01-23      453.38      NaN    83.52           NaN      NaN      NaN
4    2021-01-24      434.83      NaN    80.58           NaN      NaN      NaN
..          ...         ...      ...      ...           ...      ...      ...
167  2021-07-06      413.50    83.29    99.08        201.05    25.41    24.00
168  2021-07-07      403.71    86.06    99.21        165.95    26.27    24.79
169  2021-07-08      385.29    86.95    99.54        239.70    26.06    24.25
170  2021-07-09      384.21    84.50    99.54        224.10    25.25    23.63
171  2021-07-10      390.00    82.47    99.58        234.85    25.85    24.04

[172 rows x 7 columns]

In [70]:
df4.drop(['외부습도(%)'], axis=1, inplace=True)

In [71]:
df4

            수집일  내부CO2(ppm)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0    2021-01-20      398.09    78.57          0.00      NaN      NaN
1    2021-01-21      413.79    79.88           NaN      NaN      NaN
2    2021-01-22      426.79    85.71          0.00      NaN      NaN
3    2021-01-23      453.38    83.52           NaN      NaN      NaN
4    2021-01-24      434.83    80.58           NaN      NaN      NaN
..          ...         ...      ...           ...      ...      ...
167  2021-07-06      413.50    99.08        201.05    25.41    24.00
168  2021-07-07      403.71    99.21        165.95    26.27    24.79
169  2021-07-08      385.29    99.54        239.70    26.06    24.25
170  2021-07-09      384.21    99.54        224.10    25.25    23.63
171  2021-07-10      390.00    99.58        234.85    25.85    24.04

[172 rows x 6 columns]

In [72]:
df5

            수집일  내부CO2(ppm)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0    2022-03-20      587.50    99.88        190.13     5.96    11.33
1    2022-03-21      587.63    99.92        195.78     7.48    14.46
2    2022-03-22      578.17   100.04        236.91     9.17    15.83
3    2022-03-23      595.58    99.96        187.65     8.09    15.25
4    2022-03-24      590.29    99.96        247.04     8.13    15.88
..          ...         ...      ...           ...      ...      ...
128  2022-07-26      502.83    99.00        225.08    25.54    25.88
129  2022-07-27      494.13    97.71        261.63    25.67    25.88
130  2022-07-28      493.54    98.13        178.17    26.67    26.79
131  2022-07-29      524.96    97.17        293.96    28.70    28.79
132  2022-07-30      484.83    98.29        152.75    27.75    27.50

[133 rows x 6 columns]

In [73]:
df = pd.concat([df1, df2, df3, df4, df5], axis=0)

In [74]:
df

            수집일  내부CO2(ppm)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0    2018-07-21      421.63    78.46        297.50    29.08    30.46
1    2018-07-22      410.08    70.58        284.00    30.13    31.58
2    2018-07-23      381.33    71.17        314.92    29.67    31.29
3    2018-07-24      380.54    76.58        320.33    29.75    31.17
4    2018-07-25      372.25    78.83        249.04    28.96    30.50
..          ...         ...      ...           ...      ...      ...
128  2022-07-26      502.83    99.00        225.08    25.54    25.88
129  2022-07-27      494.13    97.71        261.63    25.67    25.88
130  2022-07-28      493.54    98.13        178.17    26.67    26.79
131  2022-07-29      524.96    97.17        293.96    28.70    28.79
132  2022-07-30      484.83    98.29        152.75    27.75    27.50

[934 rows x 6 columns]

In [75]:
df.reset_index(inplace=True)

In [76]:
df

     index         수집일  내부CO2(ppm)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0        0  2018-07-21      421.63    78.46        297.50    29.08    30.46
1        1  2018-07-22      410.08    70.58        284.00    30.13    31.58
2        2  2018-07-23      381.33    71.17        314.92    29.67    31.29
3        3  2018-07-24      380.54    76.58        320.33    29.75    31.17
4        4  2018-07-25      372.25    78.83        249.04    28.96    30.50
..     ...         ...         ...      ...           ...      ...      ...
929    128  2022-07-26      502.83    99.00        225.08    25.54    25.88
930    129  2022-07-27      494.13    97.71        261.63    25.67    25.88
931    130  2022-07-28      493.54    98.13        178.17    26.67    26.79
932    131  2022-07-29      524.96    97.17        293.96    28.70    28.79
933    132  2022-07-30      484.83    98.29        152.75    27.75    27.50

[934 rows x 7 columns]

In [77]:
df.dropna(axis=0)

     index         수집일  내부CO2(ppm)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0        0  2018-07-21      421.63    78.46        297.50    29.08    30.46
1        1  2018-07-22      410.08    70.58        284.00    30.13    31.58
2        2  2018-07-23      381.33    71.17        314.92    29.67    31.29
3        3  2018-07-24      380.54    76.58        320.33    29.75    31.17
4        4  2018-07-25      372.25    78.83        249.04    28.96    30.50
..     ...         ...         ...      ...           ...      ...      ...
929    128  2022-07-26      502.83    99.00        225.08    25.54    25.88
930    129  2022-07-27      494.13    97.71        261.63    25.67    25.88
931    130  2022-07-28      493.54    98.13        178.17    26.67    26.79
932    131  2022-07-29      524.96    97.17        293.96    28.70    28.79
933    132  2022-07-30      484.83    98.29        152.75    27.75    27.50

[842 rows x 7 columns]

In [78]:
df.reset_index(inplace=True)

In [81]:
df

,level_0,index,수집일,내부CO2(ppm),내부습도(%),일사량(W/m-2·s),외부온도(도),내부온도(도)
0,0,0,2018-07-21,421.63,78.46,297.50,29.08,30.46
1,1,1,2018-07-22,410.08,70.58,284.00,30.13,31.58
2,2,2,2018-07-23,381.33,71.17,314.92,29.67,31.29
3,3,3,2018-07-24,380.54,76.58,320.33,29.75,31.17
4,4,4,2018-07-25,372.25,78.83,249.04,28.96,30.50
...,...,...,...,...,...,...,...,...
929,929,128,2022-07-26,502.83,99.00,225.08,25.54,25.88
930,930,129,2022-07-27,494.13,97.71,261.63,25.67,25.88
931,931,130,2022-07-28,493.54,98.13,178.17,26.67,26.79
932,932,131,2022-07-29,524.96,97.17,293.96,28.70,28.79
933,933,132,2022-07-30,484.83,98.29,152.75,27.75,27.50

In [80]:
df.dropna(axis=0, inplace=True)

In [82]:
df

,level_0,index,수집일,내부CO2(ppm),내부습도(%),일사량(W/m-2·s),외부온도(도),내부온도(도)
0,0,0,2018-07-21,421.63,78.46,297.50,29.08,30.46
1,1,1,2018-07-22,410.08,70.58,284.00,30.13,31.58
2,2,2,2018-07-23,381.33,71.17,314.92,29.67,31.29
3,3,3,2018-07-24,380.54,76.58,320.33,29.75,31.17
4,4,4,2018-07-25,372.25,78.83,249.04,28.96,30.50
...,...,...,...,...,...,...,...,...
929,929,128,2022-07-26,502.83,99.00,225.08,25.54,25.88
930,930,129,2022-07-27,494.13,97.71,261.63,25.67,25.88
931,931,130,2022-07-28,493.54,98.13,178.17,26.67,26.79
932,932,131,2022-07-29,524.96,97.17,293.96,28.70,28.79
933,933,132,2022-07-30,484.83,98.29,152.75,27.75,27.50

In [83]:
df.reset_index(inplace=True)

ValueError: cannot insert level_0, already exists

In [84]:
df

,level_0,index,수집일,내부CO2(ppm),내부습도(%),일사량(W/m-2·s),외부온도(도),내부온도(도)
0,0,0,2018-07-21,421.63,78.46,297.50,29.08,30.46
1,1,1,2018-07-22,410.08,70.58,284.00,30.13,31.58
2,2,2,2018-07-23,381.33,71.17,314.92,29.67,31.29
3,3,3,2018-07-24,380.54,76.58,320.33,29.75,31.17
4,4,4,2018-07-25,372.25,78.83,249.04,28.96,30.50
...,...,...,...,...,...,...,...,...
929,929,128,2022-07-26,502.83,99.00,225.08,25.54,25.88
930,930,129,2022-07-27,494.13,97.71,261.63,25.67,25.88
931,931,130,2022-07-28,493.54,98.13,178.17,26.67,26.79
932,932,131,2022-07-29,524.96,97.17,293.96,28.70,28.79
933,933,132,2022-07-30,484.83,98.29,152.75,27.75,27.50

In [85]:
df.drop(['level_0', 'index'], inplace=True, axis=1)

In [86]:
df

            수집일  내부CO2(ppm)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0    2018-07-21      421.63    78.46        297.50    29.08    30.46
1    2018-07-22      410.08    70.58        284.00    30.13    31.58
2    2018-07-23      381.33    71.17        314.92    29.67    31.29
3    2018-07-24      380.54    76.58        320.33    29.75    31.17
4    2018-07-25      372.25    78.83        249.04    28.96    30.50
..          ...         ...      ...           ...      ...      ...
929  2022-07-26      502.83    99.00        225.08    25.54    25.88
930  2022-07-27      494.13    97.71        261.63    25.67    25.88
931  2022-07-28      493.54    98.13        178.17    26.67    26.79
932  2022-07-29      524.96    97.17        293.96    28.70    28.79
933  2022-07-30      484.83    98.29        152.75    27.75    27.50

[842 rows x 6 columns]

In [87]:
df.reset_index(inplace=True)

In [88]:
df

     index         수집일  내부CO2(ppm)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0        0  2018-07-21      421.63    78.46        297.50    29.08    30.46
1        1  2018-07-22      410.08    70.58        284.00    30.13    31.58
2        2  2018-07-23      381.33    71.17        314.92    29.67    31.29
3        3  2018-07-24      380.54    76.58        320.33    29.75    31.17
4        4  2018-07-25      372.25    78.83        249.04    28.96    30.50
..     ...         ...         ...      ...           ...      ...      ...
837    929  2022-07-26      502.83    99.00        225.08    25.54    25.88
838    930  2022-07-27      494.13    97.71        261.63    25.67    25.88
839    931  2022-07-28      493.54    98.13        178.17    26.67    26.79
840    932  2022-07-29      524.96    97.17        293.96    28.70    28.79
841    933  2022-07-30      484.83    98.29        152.75    27.75    27.50

[842 rows x 7 columns]

In [89]:
df.drop(['index'], inpace=True, axis=1)

TypeError: DataFrame.drop() got an unexpected keyword argument 'inpace'

In [90]:
df.drop(['index'], inplace=True, axis=1)

In [91]:
df

            수집일  내부CO2(ppm)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0    2018-07-21      421.63    78.46        297.50    29.08    30.46
1    2018-07-22      410.08    70.58        284.00    30.13    31.58
2    2018-07-23      381.33    71.17        314.92    29.67    31.29
3    2018-07-24      380.54    76.58        320.33    29.75    31.17
4    2018-07-25      372.25    78.83        249.04    28.96    30.50
..          ...         ...      ...           ...      ...      ...
837  2022-07-26      502.83    99.00        225.08    25.54    25.88
838  2022-07-27      494.13    97.71        261.63    25.67    25.88
839  2022-07-28      493.54    98.13        178.17    26.67    26.79
840  2022-07-29      524.96    97.17        293.96    28.70    28.79
841  2022-07-30      484.83    98.29        152.75    27.75    27.50

[842 rows x 6 columns]

In [151]:
df['내부질소(t ha-1)'] = 0

In [152]:
df['내부인(t ha-1)'] = 0

In [153]:
df

,수집일,내부CO2(ppm),내부습도(%),일사량(W/m-2·s),외부온도(도),내부온도(도),열매수,내부질소(t ha-1),내부인(t ha-1)
0,2018-07-21,421.63,78.46,297.50,29.08,30.46,0,0,0
1,2018-07-22,410.08,70.58,284.00,30.13,31.58,0,0,0
2,2018-07-23,381.33,71.17,314.92,29.67,31.29,0,0,0
3,2018-07-24,380.54,76.58,320.33,29.75,31.17,0,0,0
4,2018-07-25,372.25,78.83,249.04,28.96,30.50,0,0,0
...,...,...,...,...,...,...,...,...,...
837,2022-07-26,502.83,99.00,225.08,25.54,25.88,0,0,0
838,2022-07-27,494.13,97.71,261.63,25.67,25.88,0,0,0
839,2022-07-28,493.54,98.13,178.17,26.67,26.79,0,0,0
840,2022-07-29,524.96,97.17,293.96,28.70,28.79,0,0,0
841,2022-07-30,484.83,98.29,152.75,27.75,27.50,0,0,0

In [96]:
gr1=pd.read_csv("2018_tomato_Growing-Info_Daily.csv", encoding='UTF8')

In [98]:
gr2=pd.read_csv("2019_tomato_Growing-Info_Daily.csv", encoding='UTF8')

In [99]:
gr3=pd.read_csv("2020_tomato_Growing-Info_Daily.csv", encoding='UTF8')
gr4=pd.read_csv("2021_tomato_Growing-Info_Daily.csv", encoding='UTF8')
gr5=pd.read_csv("2022_tomato_Growing-Info_Daily.csv", encoding='UTF8')

In [100]:
df.iterrows()

In [101]:
gr1

,조사일,주차,생장길이(cm),화방높이(cm),줄기굵기(mm),엽장(cm),엽폭(cm),엽수(개),개화군(점),착과군(점),열매수(개),최종화방번호(번)
0,2018-10-14,13,3063.0,0.0,7.0,313.0,260.0,31.0,8.0,9.0,101.0,NaN
1,2018-10-16,13,3063.0,0.0,7.0,313.0,260.0,31.0,8.0,9.0,101.0,NaN
2,2018-10-23,14,0.0,0.0,7.0,360.0,303.0,22.0,3.0,3.0,112.0,NaN
3,2018-10-30,15,0.0,0.0,0.0,343.0,280.0,17.0,0.0,0.0,105.0,NaN
4,2018-11-06,16,0.0,0.0,8.0,335.0,335.0,13.0,0.0,0.0,97.0,NaN
5,2018-11-13,17,0.0,0.0,7.0,323.0,258.0,8.0,0.0,0.0,83.0,NaN
6,2018-11-20,18,0.0,0.0,8.0,315.0,275.0,4.0,0.0,0.0,62.0,NaN
7,2018-11-27,19,188.0,0.0,0.0,108.0,95.0,8.0,0.0,0.0,0.0,NaN
8,2018-12-04,20,310.0,0.0,0.0,183.0,143.0,10.0,0.0,0.0,0.0,NaN
9,2018-12-11,21,543.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
10,2018-12-18,22,691.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
11,2018-12-26,23,903.0,361.0,8.0,364.0,313.0,7.0,1.0,0.0,7.0,NaN
12,2019-01-08,25,328.0,366.0,13.0,535.0,513.0,11.0,2.0,2.0,20.0,NaN
13,2019-01-15,26,177.0,326.0,13.0,571.0,520.0,12.0,3.0,3.0,31.0,NaN
14,2019-01-22,27,173.0,375.0,15.0,554.0,499.0,11.0,3.0,3.0,45.0,NaN
15,2019-01-29,28,225.0,335.0,14.0,528.0,458.0,12.0,4.0,4.0,61.0,NaN
16,2019-02-05,29,225.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
17,2019-02-12,30,225.0,255.0,1.0,408.0,324.0,15.0,6.0,6.0,97.0,NaN
18,2019-02-19,31,240.0,292.0,1.0,312.0,272.0,16.0,7.0,7.0,116.0,NaN
19,2019-02-26,32,246.0,273.0,9.0,364.0,269.0,18.0,8.0,8.0,130.0,NaN
20,2019-03-05,33,238.0,352.0,9.0,377.0,271.0,18.0,9.0,8.0,157.0,NaN
21,2019-03-12,34,281.0,244.0,8.0,323.0,228.0,20.0,10.0,9.0,169.0,NaN
22,2019-03-19,35,318.0,354.0,8.0,358.0,257.0,18.0,11.0,10.0,163.0,NaN
23,2019-03-26,36,267.0,312.0,9.0,355.0,245.0,17.0,12.0,11.0,127.0,NaN
24,2019-04-02,37,288.0,326.0,8.0,358.0,262.0,22.0,13.0,13.0,149.0,NaN
25,2019-04-09,38,241.0,273.0,8.0,328.0,206.0,25.0,14.0,14.0,134.0,NaN
26,2019-04-16,39,289.0,248.0,8.0,347.0,246.0,22.0,15.0,15.0,126.0,NaN
27,2019-04-23,40,255.0,290.0,9.0,346.0,248.0,24.0,16.0,16.0,117.0,NaN
28,2019-04-30,41,0.0,0.0,0.0,0.0,0.0,19.0,17.0,17.0,105.0,NaN
29,2019-05-07,42,0.0,0.0,0.0,0.0,0.0,23.0,18.0,18.0,74.0,NaN
30,2019-05-14,43,0.0,0.0,0.0,0.0,0.0,16.0,18.0,18.0,92.0,NaN
31,2019-05-21,44,0.0,0.0,0.0,0.0,0.0,16.0,19.0,19.0,69.0,NaN
32,2019-05-28,45,0.0,0.0,0.0,0.0,0.0,16.0,18.0,18.0,59.0,NaN
33,2019-06-04,46,0.0,0.0,0.0,0.0,0.0,10.0,18.0,18.0,37.0,NaN
34,2019-06-11,47,0.0,0.0,0.0,0.0,0.0,10.0,18.0,18.0,17.0,NaN
35,2019-06-18,48,0.0,0.0,0.0,0.0,0.0,10.0,18.0,18.0,0.0,NaN

In [143]:
df['열매수'] = 0

In [144]:
df.head()

   index         수집일  내부CO2(ppm)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)  열매수
0      0  2018-07-21      421.63    78.46        297.50    29.08    30.46    0
1      1  2018-07-22      410.08    70.58        284.00    30.13    31.58    0
2      2  2018-07-23      381.33    71.17        314.92    29.67    31.29    0
3      3  2018-07-24      380.54    76.58        320.33    29.75    31.17    0
4      4  2018-07-25      372.25    78.83        249.04    28.96    30.50    0

In [134]:
cur_idx=0
for index, row in df.iterrows():
    print("수집일", row['수집일'])
    print("조사일", gr1.iloc[cur_idx, 0])
    if row['수집일'] == gr1.iloc[cur_idx, 0]:
        row['열매수'] = gr1.iloc[cur_idx, 10]
        cur_idx += 1

수집일 2018-07-21
조사일 2018-10-14
수집일 2018-07-22
조사일 2018-10-14
수집일 2018-07-23
조사일 2018-10-14
수집일 2018-07-24
조사일 2018-10-14
수집일 2018-07-25
조사일 2018-10-14
수집일 2018-07-26
조사일 2018-10-14
수집일 2018-07-27
조사일 2018-10-14
수집일 2018-07-28
조사일 2018-10-14
수집일 2018-07-29
조사일 2018-10-14
수집일 2018-07-30
조사일 2018-10-14
수집일 2018-07-31
조사일 2018-10-14
수집일 2018-08-01
조사일 2018-10-14
수집일 2018-08-02
조사일 2018-10-14
수집일 2018-08-03
조사일 2018-10-14
수집일 2018-08-04
조사일 2018-10-14
수집일 2018-08-05
조사일 2018-10-14
수집일 2018-08-06
조사일 2018-10-14
수집일 2018-08-07
조사일 2018-10-14
수집일 2018-08-08
조사일 2018-10-14
수집일 2018-08-09
조사일 2018-10-14
수집일 2018-08-10
조사일 2018-10-14
수집일 2018-08-11
조사일 2018-10-14
수집일 2018-08-12
조사일 2018-10-14
수집일 2018-08-13
조사일 2018-10-14
수집일 2018-08-14
조사일 2018-10-14
수집일 2018-08-15
조사일 2018-10-14
수집일 2018-08-16
조사일 2018-10-14
수집일 2018-08-17
조사일 2018-10-14
수집일 2018-08-18
조사일 2018-10-14
수집일 2018-08-19
조사일 2018-10-14
수집일 2018-08-20
조사일 2018-10-14
수집일 2018-08-21
조사일 2018-10-14
수집일 2018-08-22
조사일 2018-10-14
수집일 2018-08-23
조사일 2018-10-14
수집일 2018-08-24
조사일 2018-10-14
수집일 2018-08-25
조사일 2018-10-14
수집일 2018-08-26
조사일 2018-10-14
수집일 2018-08-27
조사일 2018-10-14
수집일 2018-08-28
조사일 2018-10-14
수집일 2018-08-29
조사일 2018-10-14
수집일 2018-08-30
조사일 2018-10-14
수집일 2018-08-31
조사일 2018-10-14
수집일 2018-09-01
조사일 2018-10-14
수집일 2018-09-02
조사일 2018-10-14
수집일 2018-09-03
조사일 2018-10-14
수집일 2018-09-04
조사일 2018-10-14
수집일 2018-09-05
조사일 2018-10-14
수집일 2018-09-06
조사일 2018-10-14
수집일 2018-09-07
조사일 2018-10-14
수집일 2018-09-08
조사일 2018-10-14
수집일 2018-09-09
조사일 2018-10-14
수집일 2018-09-10
조사일 2018-10-14
수집일 2018-09-11
조사일 2018-10-14
수집일 2018-09-12
조사일 2018-10-14
수집일 2018-09-13
조사일 2018-10-14
수집일 2018-09-14
조사일 2018-10-14
수집일 2018-09-15
조사일 2018-10-14
수집일 2018-09-16
조사일 2018-10-14
수집일 2018-09-17
조사일 2018-10-14
수집일 2018-09-18
조사일 2018-10-14
수집일 2018-09-19
조사일 2018-10-14
수집일 2018-09-20
조사일 2018-10-14
수집일 2018-09-21
조사일 2018-10-14
수집일 2018-09-22
조사일 2018-10-14
수집일 2018-09-23
조사일 2018-10-14
수집일 2018-09-24
조사일 2018-10-14
수집일 2018-09-25
조사일 2018-10-14
수집일 2018-09-26
조사일 2018-10-14
수집일 2018-09-27
조사일 2018-10-14
수집일 2018-09-28
조사일 2018-10-14
수집일 2018-09-29
조사일 2018-10-14
수집일 2018-09-30
조사일 2018-10-14
수집일 2018-10-01
조사일 2018-10-14
수집일 2018-10-02
조사일 2018-10-14
수집일 2018-10-03
조사일 2018-10-14
수집일 2018-10-04
조사일 2018-10-14
수집일 2018-10-05
조사일 2018-10-14
수집일 2018-10-06
조사일 2018-10-14
수집일 2018-10-07
조사일 2018-10-14
수집일 2018-10-08
조사일 2018-10-14
수집일 2018-10-09
조사일 2018-10-14
수집일 2018-10-10
조사일 2018-10-14
수집일 2018-10-11
조사일 2018-10-14
수집일 2018-10-12
조사일 2018-10-14
수집일 2018-10-13
조사일 2018-10-14
수집일 101.0
조사일 2018-10-14
수집일 2018-10-15
조사일 2018-10-14
수집일 101.0
조사일 2018-10-14
수집일 2018-10-17
조사일 2018-10-14
수집일 2018-10-18
조사일 2018-10-14
수집일 2018-10-19
조사일 2018-10-14
수집일 2018-10-20
조사일 2018-10-14
수집일 2018-10-21
조사일 2018-10-14
수집일 2018-10-22
조사일 2018-10-14
수집일 112.0
조사일 2018-10-14
수집일 2018-10-24
조사일 2018-10-14
수집일 2018-10-25
조사일 2018-10-14
수집일 2018-10-26
조사일 2018-10-14
수집일 2018-10-27
조사일 2018-10-14
수집일 2018-10-28
조사일 2018-10-14
수집일 2018-10-29
조사일 2018-10-14
수집일 105.0
조사일 2018-10-14
수집일 2018-10-31
조사일 2018-10-14
수집일 2018-11-01
조사일 2018-10-14
수집일 2018-11-02
조사일 2018-10-14
수집일 2018-11-03
조사일 2018-10-14
수집일 2018-11-04
조사일 2018-10-14
수집일 2018-11-05
조사일 2018-10-14
수집일 97.0
조사일 2018-10-14
수집일 2018-11-07
조사일 2018-10-14
수집일 2018-11-08
조사일 2018-10-14
수집일 2018-11-09
조사일 2018-10-14
수집일 2018-11-10
조사일 2018-10-14
수집일 2018-11-11
조사일 2018-10-14
수집일 2018-11-12
조사일 2018-10-14
수집일 83.0
조사일 2018-10-14
수집일 2018-11-14
조사일 2018-10-14
수집일 2018-11-15
조사일 2018-10-14
수집일 2018-11-16
조사일 2018-10-14
수집일 2018-11-17
조사일 2018-10-14
수집일 2018-11-18
조사일 2018-10-14
수집일 2018-11-19
조사일 2018-10-14
수집일 62.0
조사일 2018-10-14
수집일 2018-11-21
조사일 2018-10-14
수집일 2018-11-22
조사일 2018-10-14
수집일 2018-11-23
조사일 2018-10-14
수집일 2018-11-24
조사일 2018-10-14
수집일 2018-11-25
조사일 2018-10-14
수집일 2018-11-26
조사일 2018-10-14
수집일 0.0
조사일 2018-10-14
수집일 2018-11-28
조사일 2018-10-14
수집일 2018-11-29
조사일 2018-10-14
수집일 2018-11-30
조사일 2018-10-14
수집일 2018-12-01
조사일 2018-10-14
수집일 2018-12-02
조사일 2018-10-14
수집일 2018-12-03
조사일 2018-10-14
수집일 0.0
조사일 2018-10-14
수집일 2018-12-05
조사일 2018-10-14
수집일 2018-12-06
조사일 2018-10-14
수집일 2018-12-07
조사일 2018-10-14
수집일 2018-12-08
조사일 2018-10-14
수집일 2018-12-09
조사일 2018-10-14
수집일 2018-12-10
조사일 2018-10-14
수집일 0.0
조사일 2018-10-14
수집일 2018-12-12
조사일 2018-10-14
수집일 2018-12-13
조사일 2018-10-14
수집일 2018-12-14
조사일 2018-10-14
수집일 2018-12-15
조사일 2018-10-14
수집일 2018-12-16
조사일 2018-10-14
수집일 2018-12-17
조사일 2018-10-14
수집일 0.0
조사일 2018-10-14
수집일 2018-12-19
조사일 2018-10-14
수집일 2018-12-20
조사일 2018-10-14
수집일 2018-12-21
조사일 2018-10-14
수집일 2018-12-22
조사일 2018-10-14
수집일 2018-12-23
조사일 2018-10-14
수집일 2018-12-24
조사일 2018-10-14
수집일 2018-12-25
조사일 2018-10-14
수집일 7.0
조사일 2018-10-14
수집일 2018-12-27
조사일 2018-10-14
수집일 2018-12-28
조사일 2018-10-14
수집일 2018-12-29
조사일 2018-10-14
수집일 2018-12-30
조사일 2018-10-14
수집일 2018-12-31
조사일 2018-10-14
수집일 2019-01-01
조사일 2018-10-14
수집일 2019-01-02
조사일 2018-10-14
수집일 2019-01-03
조사일 2018-10-14
수집일 2019-01-04
조사일 2018-10-14
수집일 2019-01-05
조사일 2018-10-14
수집일 2019-01-06
조사일 2018-10-14
수집일 2019-01-07
조사일 2018-10-14
수집일 20.0
조사일 2018-10-14
수집일 2019-01-09
조사일 2018-10-14
수집일 2019-01-10
조사일 2018-10-14
수집일 2019-01-11
조사일 2018-10-14
수집일 2019-01-12
조사일 2018-10-14
수집일 2019-01-13
조사일 2018-10-14
수집일 2019-01-14
조사일 2018-10-14
수집일 31.0
조사일 2018-10-14
수집일 2019-01-16
조사일 2018-10-14
수집일 2019-01-17
조사일 2018-10-14
수집일 2019-01-18
조사일 2018-10-14
수집일 2019-01-19
조사일 2018-10-14
수집일 2019-01-20
조사일 2018-10-14
수집일 2019-01-21
조사일 2018-10-14
수집일 45.0
조사일 2018-10-14
수집일 2019-01-23
조사일 2018-10-14
수집일 2019-01-24
조사일 2018-10-14
수집일 2019-01-25
조사일 2018-10-14
수집일 2019-01-26
조사일 2018-10-14
수집일 2019-01-27
조사일 2018-10-14
수집일 2019-01-28
조사일 2018-10-14
수집일 61.0
조사일 2018-10-14
수집일 2019-01-30
조사일 2018-10-14
수집일 2019-01-31
조사일 2018-10-14
수집일 2019-02-01
조사일 2018-10-14
수집일 2019-02-02
조사일 2018-10-14
수집일 2019-02-03
조사일 2018-10-14
수집일 2019-02-04
조사일 2018-10-14
수집일 0.0
조사일 2018-10-14
수집일 2019-02-06
조사일 2018-10-14
수집일 2019-02-07
조사일 2018-10-14
수집일 2019-02-08
조사일 2018-10-14
수집일 2019-02-09
조사일 2018-10-14
수집일 2019-02-10
조사일 2018-10-14
수집일 2019-02-11
조사일 2018-10-14
수집일 97.0
조사일 2018-10-14
수집일 2019-02-13
조사일 2018-10-14
수집일 2019-02-14
조사일 2018-10-14
수집일 2019-02-15
조사일 2018-10-14
수집일 2019-02-16
조사일 2018-10-14
수집일 2019-02-17
조사일 2018-10-14
수집일 2019-02-18
조사일 2018-10-14
수집일 116.0
조사일 2018-10-14
수집일 2019-02-20
조사일 2018-10-14
수집일 2019-02-21
조사일 2018-10-14
수집일 2019-02-22
조사일 2018-10-14
수집일 2019-02-23
조사일 2018-10-14
수집일 2019-02-24
조사일 2018-10-14
수집일 2019-02-25
조사일 2018-10-14
수집일 130.0
조사일 2018-10-14
수집일 2019-02-27
조사일 2018-10-14
수집일 2019-02-28
조사일 2018-10-14
수집일 2019-03-01
조사일 2018-10-14
수집일 2019-03-02
조사일 2018-10-14
수집일 2019-03-03
조사일 2018-10-14
수집일 2019-03-04
조사일 2018-10-14
수집일 157.0
조사일 2018-10-14
수집일 2019-03-06
조사일 2018-10-14
수집일 2019-03-07
조사일 2018-10-14
수집일 2019-03-08
조사일 2018-10-14
수집일 2019-03-09
조사일 2018-10-14
수집일 2019-03-10
조사일 2018-10-14
수집일 2019-03-11
조사일 2018-10-14
수집일 169.0
조사일 2018-10-14
수집일 2019-03-13
조사일 2018-10-14
수집일 2019-03-14
조사일 2018-10-14
수집일 2019-03-15
조사일 2018-10-14
수집일 2019-03-16
조사일 2018-10-14
수집일 2019-03-17
조사일 2018-10-14
수집일 2019-03-18
조사일 2018-10-14
수집일 163.0
조사일 2018-10-14
수집일 2019-03-20
조사일 2018-10-14
수집일 2019-03-21
조사일 2018-10-14
수집일 2019-03-22
조사일 2018-10-14
수집일 2019-03-23
조사일 2018-10-14
수집일 2019-03-24
조사일 2018-10-14
수집일 2019-03-25
조사일 2018-10-14
수집일 127.0
조사일 2018-10-14
수집일 2019-03-27
조사일 2018-10-14
수집일 2019-03-28
조사일 2018-10-14
수집일 2019-03-29
조사일 2018-10-14
수집일 2019-03-30
조사일 2018-10-14
수집일 2019-03-31
조사일 2018-10-14
수집일 2019-04-01
조사일 2018-10-14
수집일 149.0
조사일 2018-10-14
수집일 2019-04-03
조사일 2018-10-14
수집일 2019-04-04
조사일 2018-10-14
수집일 2019-04-05
조사일 2018-10-14
수집일 2019-04-06
조사일 2018-10-14
수집일 2019-04-07
조사일 2018-10-14
수집일 2019-04-08
조사일 2018-10-14
수집일 134.0
조사일 2018-10-14
수집일 2019-04-10
조사일 2018-10-14
수집일 2019-04-11
조사일 2018-10-14
수집일 2019-04-12
조사일 2018-10-14
수집일 2019-04-13
조사일 2018-10-14
수집일 2019-04-14
조사일 2018-10-14
수집일 2019-04-15
조사일 2018-10-14
수집일 126.0
조사일 2018-10-14
수집일 2019-04-17
조사일 2018-10-14
수집일 2019-04-18
조사일 2018-10-14
수집일 2019-04-19
조사일 2018-10-14
수집일 2019-04-20
조사일 2018-10-14
수집일 2019-04-21
조사일 2018-10-14
수집일 2019-04-22
조사일 2018-10-14
수집일 117.0
조사일 2018-10-14
수집일 2019-04-24
조사일 2018-10-14
수집일 2019-04-25
조사일 2018-10-14
수집일 2019-04-26
조사일 2018-10-14
수집일 2019-04-27
조사일 2018-10-14
수집일 2019-04-28
조사일 2018-10-14
수집일 2019-04-29
조사일 2018-10-14
수집일 105.0
조사일 2018-10-14
수집일 2019-05-01
조사일 2018-10-14
수집일 2019-05-02
조사일 2018-10-14
수집일 2019-05-03
조사일 2018-10-14
수집일 2019-05-04
조사일 2018-10-14
수집일 2019-05-05
조사일 2018-10-14
수집일 2019-05-06
조사일 2018-10-14
수집일 74.0
조사일 2018-10-14
수집일 2019-05-08
조사일 2018-10-14
수집일 2019-05-09
조사일 2018-10-14
수집일 2019-05-10
조사일 2018-10-14
수집일 2019-05-11
조사일 2018-10-14
수집일 2019-05-12
조사일 2018-10-14
수집일 2019-05-13
조사일 2018-10-14
수집일 92.0
조사일 2018-10-14
수집일 2019-05-15
조사일 2018-10-14
수집일 2019-05-16
조사일 2018-10-14
수집일 2019-05-17
조사일 2018-10-14
수집일 2019-05-20
조사일 2018-10-14
수집일 69.0
조사일 2018-10-14
수집일 2019-05-22
조사일 2018-10-14
수집일 2019-05-23
조사일 2018-10-14
수집일 2019-05-24
조사일 2018-10-14
수집일 2019-05-25
조사일 2018-10-14
수집일 2019-05-30
조사일 2018-10-14
수집일 2019-06-05
조사일 2018-10-14
수집일 2019-06-07
조사일 2018-10-14
수집일 2019-06-10
조사일 2018-10-14
수집일 2019-06-12
조사일 2018-10-14
수집일 2019-06-13
조사일 2018-10-14
수집일 2019-06-14
조사일 2018-10-14
수집일 2019-06-15
조사일 2018-10-14
수집일 2019-06-16
조사일 2018-10-14
수집일 2019-06-17
조사일 2018-10-14
수집일 2019-06-18
조사일 2018-10-14
수집일 2019-10-31
조사일 2018-10-14
수집일 2019-11-01
조사일 2018-10-14
수집일 2019-11-02
조사일 2018-10-14
수집일 2019-11-03
조사일 2018-10-14
수집일 2019-11-04
조사일 2018-10-14
수집일 2019-11-05
조사일 2018-10-14
수집일 2019-11-06
조사일 2018-10-14
수집일 2019-11-07
조사일 2018-10-14
수집일 2019-11-08
조사일 2018-10-14
수집일 2019-11-09
조사일 2018-10-14
수집일 2019-11-10
조사일 2018-10-14
수집일 2019-11-11
조사일 2018-10-14
수집일 2019-11-12
조사일 2018-10-14
수집일 2019-11-13
조사일 2018-10-14
수집일 2019-11-14
조사일 2018-10-14
수집일 2019-11-15
조사일 2018-10-14
수집일 2019-11-16
조사일 2018-10-14
수집일 2019-11-17
조사일 2018-10-14
수집일 2019-11-18
조사일 2018-10-14
수집일 2019-11-19
조사일 2018-10-14
수집일 2019-11-20
조사일 2018-10-14
수집일 2019-11-21
조사일 2018-10-14
수집일 2019-11-22
조사일 2018-10-14
수집일 2019-11-23
조사일 2018-10-14
수집일 2019-11-24
조사일 2018-10-14
수집일 2019-11-25
조사일 2018-10-14
수집일 2019-11-26
조사일 2018-10-14
수집일 2019-11-27
조사일 2018-10-14
수집일 2019-11-28
조사일 2018-10-14
수집일 2019-11-29
조사일 2018-10-14
수집일 2019-11-30
조사일 2018-10-14
수집일 2019-12-01
조사일 2018-10-14
수집일 2019-12-02
조사일 2018-10-14
수집일 2019-12-03
조사일 2018-10-14
수집일 2019-12-04
조사일 2018-10-14
수집일 2019-12-05
조사일 2018-10-14
수집일 2019-12-06
조사일 2018-10-14
수집일 2019-12-07
조사일 2018-10-14
수집일 2019-12-08
조사일 2018-10-14
수집일 2019-12-09
조사일 2018-10-14
수집일 2019-12-10
조사일 2018-10-14
수집일 2019-12-11
조사일 2018-10-14
수집일 2019-12-12
조사일 2018-10-14
수집일 2019-12-13
조사일 2018-10-14
수집일 2019-12-14
조사일 2018-10-14
수집일 2019-12-15
조사일 2018-10-14
수집일 2019-12-16
조사일 2018-10-14
수집일 2019-12-17
조사일 2018-10-14
수집일 2019-12-18
조사일 2018-10-14
수집일 2019-12-19
조사일 2018-10-14
수집일 2019-12-20
조사일 2018-10-14
수집일 2019-12-21
조사일 2018-10-14
수집일 2019-12-22
조사일 2018-10-14
수집일 2019-12-23
조사일 2018-10-14
수집일 2019-12-24
조사일 2018-10-14
수집일 2019-12-25
조사일 2018-10-14
수집일 2019-12-26
조사일 2018-10-14
수집일 2019-12-27
조사일 2018-10-14
수집일 2019-12-28
조사일 2018-10-14
수집일 2019-12-29
조사일 2018-10-14
수집일 2019-12-30
조사일 2018-10-14
수집일 2019-12-31
조사일 2018-10-14
수집일 2020-01-01
조사일 2018-10-14
수집일 2020-01-02
조사일 2018-10-14
수집일 2020-01-03
조사일 2018-10-14
수집일 2020-01-04
조사일 2018-10-14
수집일 2020-01-05
조사일 2018-10-14
수집일 2020-01-06
조사일 2018-10-14
수집일 2020-01-07
조사일 2018-10-14
수집일 2020-01-08
조사일 2018-10-14
수집일 2020-01-09
조사일 2018-10-14
수집일 2020-01-10
조사일 2018-10-14
수집일 2020-01-11
조사일 2018-10-14
수집일 2020-01-12
조사일 2018-10-14
수집일 2020-01-13
조사일 2018-10-14
수집일 2020-12-31
조사일 2018-10-14
수집일 2021-01-02
조사일 2018-10-14
수집일 2021-01-03
조사일 2018-10-14
수집일 2021-01-04
조사일 2018-10-14
수집일 2021-01-05
조사일 2018-10-14
수집일 2021-01-06
조사일 2018-10-14
수집일 2021-01-07
조사일 2018-10-14
수집일 2021-01-08
조사일 2018-10-14
수집일 2021-01-09
조사일 2018-10-14
수집일 2021-01-10
조사일 2018-10-14
수집일 2021-01-11
조사일 2018-10-14
수집일 2021-01-12
조사일 2018-10-14
수집일 2021-01-13
조사일 2018-10-14
수집일 2021-01-14
조사일 2018-10-14
수집일 2021-01-15
조사일 2018-10-14
수집일 2021-01-16
조사일 2018-10-14
수집일 2021-01-17
조사일 2018-10-14
수집일 2021-01-18
조사일 2018-10-14
수집일 2021-01-19
조사일 2018-10-14
수집일 2021-01-20
조사일 2018-10-14
수집일 2021-01-21
조사일 2018-10-14
수집일 2021-01-22
조사일 2018-10-14
수집일 2021-01-23
조사일 2018-10-14
수집일 2021-01-24
조사일 2018-10-14
수집일 2021-01-25
조사일 2018-10-14
수집일 2021-01-26
조사일 2018-10-14
수집일 2021-01-27
조사일 2018-10-14
수집일 2021-01-28
조사일 2018-10-14
수집일 2021-01-29
조사일 2018-10-14
수집일 2021-01-30
조사일 2018-10-14
수집일 2021-01-31
조사일 2018-10-14
수집일 2021-02-01
조사일 2018-10-14
수집일 2021-02-02
조사일 2018-10-14
수집일 2021-02-03
조사일 2018-10-14
수집일 2021-02-04
조사일 2018-10-14
수집일 2021-02-05
조사일 2018-10-14
수집일 2021-02-06
조사일 2018-10-14
수집일 2021-02-07
조사일 2018-10-14
수집일 2021-02-08
조사일 2018-10-14
수집일 2021-02-09
조사일 2018-10-14
수집일 2021-02-10
조사일 2018-10-14
수집일 2021-02-11
조사일 2018-10-14
수집일 2021-02-12
조사일 2018-10-14
수집일 2021-02-13
조사일 2018-10-14
수집일 2021-02-14
조사일 2018-10-14
수집일 2021-02-15
조사일 2018-10-14
수집일 2021-02-16
조사일 2018-10-14
수집일 2021-02-17
조사일 2018-10-14
수집일 2021-02-18
조사일 2018-10-14
수집일 2021-02-19
조사일 2018-10-14
수집일 2021-02-20
조사일 2018-10-14
수집일 2021-02-21
조사일 2018-10-14
수집일 2021-02-22
조사일 2018-10-14
수집일 2021-02-23
조사일 2018-10-14
수집일 2021-02-24
조사일 2018-10-14
수집일 2021-02-25
조사일 2018-10-14
수집일 2021-02-26
조사일 2018-10-14
수집일 2021-02-27
조사일 2018-10-14
수집일 2021-02-28
조사일 2018-10-14
수집일 2021-03-01
조사일 2018-10-14
수집일 2021-03-02
조사일 2018-10-14
수집일 2021-03-03
조사일 2018-10-14
수집일 2021-03-04
조사일 2018-10-14
수집일 2021-03-05
조사일 2018-10-14
수집일 2021-03-06
조사일 2018-10-14
수집일 2021-03-08
조사일 2018-10-14
수집일 2021-03-09
조사일 2018-10-14
수집일 2021-03-10
조사일 2018-10-14
수집일 2021-03-11
조사일 2018-10-14
수집일 2021-03-12
조사일 2018-10-14
수집일 2021-03-13
조사일 2018-10-14
수집일 2021-03-14
조사일 2018-10-14
수집일 2021-03-15
조사일 2018-10-14
수집일 2021-03-16
조사일 2018-10-14
수집일 2021-03-17
조사일 2018-10-14
수집일 2021-03-18
조사일 2018-10-14
수집일 2021-03-19
조사일 2018-10-14
수집일 2021-03-20
조사일 2018-10-14
수집일 2021-03-21
조사일 2018-10-14
수집일 2021-03-22
조사일 2018-10-14
수집일 2021-03-23
조사일 2018-10-14
수집일 2021-03-24
조사일 2018-10-14
수집일 2021-03-25
조사일 2018-10-14
수집일 2021-03-26
조사일 2018-10-14
수집일 2021-03-27
조사일 2018-10-14
수집일 2021-03-28
조사일 2018-10-14
수집일 2021-03-29
조사일 2018-10-14
수집일 2021-03-30
조사일 2018-10-14
수집일 2021-03-31
조사일 2018-10-14
수집일 2021-04-01
조사일 2018-10-14
수집일 2021-04-02
조사일 2018-10-14
수집일 2021-04-03
조사일 2018-10-14
수집일 2021-04-04
조사일 2018-10-14
수집일 2021-04-05
조사일 2018-10-14
수집일 2021-04-06
조사일 2018-10-14
수집일 2021-04-07
조사일 2018-10-14
수집일 2021-04-08
조사일 2018-10-14
수집일 2021-04-09
조사일 2018-10-14
수집일 2021-04-10
조사일 2018-10-14
수집일 2021-04-11
조사일 2018-10-14
수집일 2021-04-12
조사일 2018-10-14
수집일 2021-04-13
조사일 2018-10-14
수집일 2021-04-14
조사일 2018-10-14
수집일 2021-04-15
조사일 2018-10-14
수집일 2021-04-16
조사일 2018-10-14
수집일 2021-04-17
조사일 2018-10-14
수집일 2021-04-18
조사일 2018-10-14
수집일 2021-04-19
조사일 2018-10-14
수집일 2021-04-20
조사일 2018-10-14
수집일 2021-04-21
조사일 2018-10-14
수집일 2021-04-22
조사일 2018-10-14
수집일 2021-04-23
조사일 2018-10-14
수집일 2021-04-24
조사일 2018-10-14
수집일 2021-04-25
조사일 2018-10-14
수집일 2021-04-26
조사일 2018-10-14
수집일 2021-04-27
조사일 2018-10-14
수집일 2021-04-28
조사일 2018-10-14
수집일 2021-04-29
조사일 2018-10-14
수집일 2021-04-30
조사일 2018-10-14
수집일 2021-05-01
조사일 2018-10-14
수집일 2021-05-02
조사일 2018-10-14
수집일 2021-05-03
조사일 2018-10-14
수집일 2021-05-04
조사일 2018-10-14
수집일 2021-05-05
조사일 2018-10-14
수집일 2021-05-06
조사일 2018-10-14
수집일 2021-05-07
조사일 2018-10-14
수집일 2021-05-09
조사일 2018-10-14
수집일 2021-05-10
조사일 2018-10-14
수집일 2021-05-11
조사일 2018-10-14
수집일 2021-05-12
조사일 2018-10-14
수집일 2021-05-13
조사일 2018-10-14
수집일 2021-05-14
조사일 2018-10-14
수집일 2021-05-15
조사일 2018-10-14
수집일 2021-05-16
조사일 2018-10-14
수집일 2021-05-17
조사일 2018-10-14
수집일 2021-05-18
조사일 2018-10-14
수집일 2021-05-19
조사일 2018-10-14
수집일 2021-05-20
조사일 2018-10-14
수집일 2021-05-21
조사일 2018-10-14
수집일 2021-05-22
조사일 2018-10-14
수집일 2021-05-23
조사일 2018-10-14
수집일 2021-05-24
조사일 2018-10-14
수집일 2021-05-25
조사일 2018-10-14
수집일 2021-05-26
조사일 2018-10-14
수집일 2021-05-27
조사일 2018-10-14
수집일 2021-05-28
조사일 2018-10-14
수집일 2021-05-29
조사일 2018-10-14
수집일 2021-05-30
조사일 2018-10-14
수집일 2021-05-31
조사일 2018-10-14
수집일 2021-06-01
조사일 2018-10-14
수집일 2021-06-02
조사일 2018-10-14
수집일 2021-06-03
조사일 2018-10-14
수집일 2021-06-04
조사일 2018-10-14
수집일 2021-06-05
조사일 2018-10-14
수집일 2021-06-06
조사일 2018-10-14
수집일 2021-06-07
조사일 2018-10-14
수집일 2021-06-08
조사일 2018-10-14
수집일 2021-06-09
조사일 2018-10-14
수집일 2021-06-10
조사일 2018-10-14
수집일 2021-06-11
조사일 2018-10-14
수집일 2021-06-12
조사일 2018-10-14
수집일 2021-06-13
조사일 2018-10-14
수집일 2021-06-14
조사일 2018-10-14
수집일 2021-06-15
조사일 2018-10-14
수집일 2021-06-16
조사일 2018-10-14
수집일 2021-06-17
조사일 2018-10-14
수집일 2021-06-21
조사일 2018-10-14
수집일 2021-06-22
조사일 2018-10-14
수집일 2021-06-23
조사일 2018-10-14
수집일 2021-06-24
조사일 2018-10-14
수집일 2021-06-25
조사일 2018-10-14
수집일 2021-06-26
조사일 2018-10-14
수집일 2021-06-27
조사일 2018-10-14
수집일 2021-06-28
조사일 2018-10-14
수집일 2021-06-29
조사일 2018-10-14
수집일 2021-06-30
조사일 2018-10-14
수집일 2021-02-18
조사일 2018-10-14
수집일 2021-02-19
조사일 2018-10-14
수집일 2021-02-20
조사일 2018-10-14
수집일 2021-02-21
조사일 2018-10-14
수집일 2021-02-22
조사일 2018-10-14
수집일 2021-02-23
조사일 2018-10-14
수집일 2021-02-24
조사일 2018-10-14
수집일 2021-02-25
조사일 2018-10-14
수집일 2021-02-26
조사일 2018-10-14
수집일 2021-02-27
조사일 2018-10-14
수집일 2021-02-28
조사일 2018-10-14
수집일 2021-03-01
조사일 2018-10-14
수집일 2021-03-02
조사일 2018-10-14
수집일 2021-03-03
조사일 2018-10-14
수집일 2021-03-04
조사일 2018-10-14
수집일 2021-03-05
조사일 2018-10-14
수집일 2021-03-06
조사일 2018-10-14
수집일 2021-03-07
조사일 2018-10-14
수집일 2021-03-08
조사일 2018-10-14
수집일 2021-03-09
조사일 2018-10-14
수집일 2021-03-10
조사일 2018-10-14
수집일 2021-03-11
조사일 2018-10-14
수집일 2021-03-12
조사일 2018-10-14
수집일 2021-03-13
조사일 2018-10-14
수집일 2021-03-14
조사일 2018-10-14
수집일 2021-03-15
조사일 2018-10-14
수집일 2021-03-16
조사일 2018-10-14
수집일 2021-03-17
조사일 2018-10-14
수집일 2021-03-18
조사일 2018-10-14
수집일 2021-03-19
조사일 2018-10-14
수집일 2021-03-20
조사일 2018-10-14
수집일 2021-03-21
조사일 2018-10-14
수집일 2021-03-22
조사일 2018-10-14
수집일 2021-03-23
조사일 2018-10-14
수집일 2021-03-24
조사일 2018-10-14
수집일 2021-03-25
조사일 2018-10-14
수집일 2021-03-26
조사일 2018-10-14
수집일 2021-03-27
조사일 2018-10-14
수집일 2021-03-28
조사일 2018-10-14
수집일 2021-03-29
조사일 2018-10-14
수집일 2021-03-30
조사일 2018-10-14
수집일 2021-03-31
조사일 2018-10-14
수집일 2021-04-01
조사일 2018-10-14
수집일 2021-04-02
조사일 2018-10-14
수집일 2021-04-03
조사일 2018-10-14
수집일 2021-04-04
조사일 2018-10-14
수집일 2021-04-05
조사일 2018-10-14
수집일 2021-04-06
조사일 2018-10-14
수집일 2021-04-07
조사일 2018-10-14
수집일 2021-04-08
조사일 2018-10-14
수집일 2021-04-09
조사일 2018-10-14
수집일 2021-04-10
조사일 2018-10-14
수집일 2021-04-11
조사일 2018-10-14
수집일 2021-04-12
조사일 2018-10-14
수집일 2021-04-13
조사일 2018-10-14
수집일 2021-04-14
조사일 2018-10-14
수집일 2021-04-15
조사일 2018-10-14
수집일 2021-04-16
조사일 2018-10-14
수집일 2021-04-17
조사일 2018-10-14
수집일 2021-04-18
조사일 2018-10-14
수집일 2021-04-19
조사일 2018-10-14
수집일 2021-04-20
조사일 2018-10-14
수집일 2021-04-21
조사일 2018-10-14
수집일 2021-04-22
조사일 2018-10-14
수집일 2021-04-23
조사일 2018-10-14
수집일 2021-04-24
조사일 2018-10-14
수집일 2021-04-25
조사일 2018-10-14
수집일 2021-04-26
조사일 2018-10-14
수집일 2021-04-27
조사일 2018-10-14
수집일 2021-04-28
조사일 2018-10-14
수집일 2021-04-29
조사일 2018-10-14
수집일 2021-04-30
조사일 2018-10-14
수집일 2021-05-01
조사일 2018-10-14
수집일 2021-05-02
조사일 2018-10-14
수집일 2021-05-03
조사일 2018-10-14
수집일 2021-05-04
조사일 2018-10-14
수집일 2021-05-05
조사일 2018-10-14
수집일 2021-05-06
조사일 2018-10-14
수집일 2021-05-07
조사일 2018-10-14
수집일 2021-05-09
조사일 2018-10-14
수집일 2021-05-10
조사일 2018-10-14
수집일 2021-05-11
조사일 2018-10-14
수집일 2021-05-12
조사일 2018-10-14
수집일 2021-05-13
조사일 2018-10-14
수집일 2021-05-14
조사일 2018-10-14
수집일 2021-05-15
조사일 2018-10-14
수집일 2021-05-16
조사일 2018-10-14
수집일 2021-05-17
조사일 2018-10-14
수집일 2021-05-18
조사일 2018-10-14
수집일 2021-05-19
조사일 2018-10-14
수집일 2021-05-20
조사일 2018-10-14
수집일 2021-05-21
조사일 2018-10-14
수집일 2021-05-22
조사일 2018-10-14
수집일 2021-05-23
조사일 2018-10-14
수집일 2021-05-24
조사일 2018-10-14
수집일 2021-05-25
조사일 2018-10-14
수집일 2021-05-26
조사일 2018-10-14
수집일 2021-05-27
조사일 2018-10-14
수집일 2021-05-28
조사일 2018-10-14
수집일 2021-05-29
조사일 2018-10-14
수집일 2021-05-30
조사일 2018-10-14
수집일 2021-05-31
조사일 2018-10-14
수집일 2021-06-01
조사일 2018-10-14
수집일 2021-06-02

In [135]:
df = pd.concat([df1, df2, df3, df4, df5], axis=0)

In [128]:
df["열매수"].unique()

array([0], dtype=int64)

array([0], dtype=int64)

In [111]:
df["열매수"].isnull().sum()

0

In [112]:
gr1

,조사일,주차,생장길이(cm),화방높이(cm),줄기굵기(mm),엽장(cm),엽폭(cm),엽수(개),개화군(점),착과군(점),열매수(개),최종화방번호(번)
0,2018-10-14,13,3063.0,0.0,7.0,313.0,260.0,31.0,8.0,9.0,101.0,NaN
1,2018-10-16,13,3063.0,0.0,7.0,313.0,260.0,31.0,8.0,9.0,101.0,NaN
2,2018-10-23,14,0.0,0.0,7.0,360.0,303.0,22.0,3.0,3.0,112.0,NaN
3,2018-10-30,15,0.0,0.0,0.0,343.0,280.0,17.0,0.0,0.0,105.0,NaN
4,2018-11-06,16,0.0,0.0,8.0,335.0,335.0,13.0,0.0,0.0,97.0,NaN
5,2018-11-13,17,0.0,0.0,7.0,323.0,258.0,8.0,0.0,0.0,83.0,NaN
6,2018-11-20,18,0.0,0.0,8.0,315.0,275.0,4.0,0.0,0.0,62.0,NaN
7,2018-11-27,19,188.0,0.0,0.0,108.0,95.0,8.0,0.0,0.0,0.0,NaN
8,2018-12-04,20,310.0,0.0,0.0,183.0,143.0,10.0,0.0,0.0,0.0,NaN
9,2018-12-11,21,543.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
10,2018-12-18,22,691.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
11,2018-12-26,23,903.0,361.0,8.0,364.0,313.0,7.0,1.0,0.0,7.0,NaN
12,2019-01-08,25,328.0,366.0,13.0,535.0,513.0,11.0,2.0,2.0,20.0,NaN
13,2019-01-15,26,177.0,326.0,13.0,571.0,520.0,12.0,3.0,3.0,31.0,NaN
14,2019-01-22,27,173.0,375.0,15.0,554.0,499.0,11.0,3.0,3.0,45.0,NaN
15,2019-01-29,28,225.0,335.0,14.0,528.0,458.0,12.0,4.0,4.0,61.0,NaN
16,2019-02-05,29,225.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
17,2019-02-12,30,225.0,255.0,1.0,408.0,324.0,15.0,6.0,6.0,97.0,NaN
18,2019-02-19,31,240.0,292.0,1.0,312.0,272.0,16.0,7.0,7.0,116.0,NaN
19,2019-02-26,32,246.0,273.0,9.0,364.0,269.0,18.0,8.0,8.0,130.0,NaN
20,2019-03-05,33,238.0,352.0,9.0,377.0,271.0,18.0,9.0,8.0,157.0,NaN
21,2019-03-12,34,281.0,244.0,8.0,323.0,228.0,20.0,10.0,9.0,169.0,NaN
22,2019-03-19,35,318.0,354.0,8.0,358.0,257.0,18.0,11.0,10.0,163.0,NaN
23,2019-03-26,36,267.0,312.0,9.0,355.0,245.0,17.0,12.0,11.0,127.0,NaN
24,2019-04-02,37,288.0,326.0,8.0,358.0,262.0,22.0,13.0,13.0,149.0,NaN
25,2019-04-09,38,241.0,273.0,8.0,328.0,206.0,25.0,14.0,14.0,134.0,NaN
26,2019-04-16,39,289.0,248.0,8.0,347.0,246.0,22.0,15.0,15.0,126.0,NaN
27,2019-04-23,40,255.0,290.0,9.0,346.0,248.0,24.0,16.0,16.0,117.0,NaN
28,2019-04-30,41,0.0,0.0,0.0,0.0,0.0,19.0,17.0,17.0,105.0,NaN
29,2019-05-07,42,0.0,0.0,0.0,0.0,0.0,23.0,18.0,18.0,74.0,NaN
30,2019-05-14,43,0.0,0.0,0.0,0.0,0.0,16.0,18.0,18.0,92.0,NaN
31,2019-05-21,44,0.0,0.0,0.0,0.0,0.0,16.0,19.0,19.0,69.0,NaN
32,2019-05-28,45,0.0,0.0,0.0,0.0,0.0,16.0,18.0,18.0,59.0,NaN
33,2019-06-04,46,0.0,0.0,0.0,0.0,0.0,10.0,18.0,18.0,37.0,NaN
34,2019-06-11,47,0.0,0.0,0.0,0.0,0.0,10.0,18.0,18.0,17.0,NaN
35,2019-06-18,48,0.0,0.0,0.0,0.0,0.0,10.0,18.0,18.0,0.0,NaN

In [136]:
df.dropna(axis=0, inplace=True)

In [137]:
ㅇㄹ

NameError: name 'ᄋᄅ' is not defined

In [138]:
df

            수집일  내부CO2(ppm)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0    2018-07-21      421.63    78.46        297.50    29.08    30.46
1    2018-07-22      410.08    70.58        284.00    30.13    31.58
2    2018-07-23      381.33    71.17        314.92    29.67    31.29
3    2018-07-24      380.54    76.58        320.33    29.75    31.17
4    2018-07-25      372.25    78.83        249.04    28.96    30.50
..          ...         ...      ...           ...      ...      ...
128  2022-07-26      502.83    99.00        225.08    25.54    25.88
129  2022-07-27      494.13    97.71        261.63    25.67    25.88
130  2022-07-28      493.54    98.13        178.17    26.67    26.79
131  2022-07-29      524.96    97.17        293.96    28.70    28.79
132  2022-07-30      484.83    98.29        152.75    27.75    27.50

[842 rows x 6 columns]

In [139]:
df.reset_index(inplace=True)

In [140]:
df

     index         수집일  내부CO2(ppm)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)
0        0  2018-07-21      421.63    78.46        297.50    29.08    30.46
1        1  2018-07-22      410.08    70.58        284.00    30.13    31.58
2        2  2018-07-23      381.33    71.17        314.92    29.67    31.29
3        3  2018-07-24      380.54    76.58        320.33    29.75    31.17
4        4  2018-07-25      372.25    78.83        249.04    28.96    30.50
..     ...         ...         ...      ...           ...      ...      ...
837    128  2022-07-26      502.83    99.00        225.08    25.54    25.88
838    129  2022-07-27      494.13    97.71        261.63    25.67    25.88
839    130  2022-07-28      493.54    98.13        178.17    26.67    26.79
840    131  2022-07-29      524.96    97.17        293.96    28.70    28.79
841    132  2022-07-30      484.83    98.29        152.75    27.75    27.50

[842 rows x 7 columns]

In [154]:
cur_idx=0
for index, row in df.iterrows():
    if row['수집일'] == gr1.iloc[cur_idx, 0]:
        df.iloc[index, 6] = gr1.iloc[cur_idx, 10]
        cur_idx += 1

수집일 2018-07-21
조사일 2018-10-14
수집일 2018-07-22
조사일 2018-10-14
수집일 2018-07-23
조사일 2018-10-14
수집일 2018-07-24
조사일 2018-10-14
수집일 2018-07-25
조사일 2018-10-14
수집일 2018-07-26
조사일 2018-10-14
수집일 2018-07-27
조사일 2018-10-14
수집일 2018-07-28
조사일 2018-10-14
수집일 2018-07-29
조사일 2018-10-14
수집일 2018-07-30
조사일 2018-10-14
수집일 2018-07-31
조사일 2018-10-14
수집일 2018-08-01
조사일 2018-10-14
수집일 2018-08-02
조사일 2018-10-14
수집일 2018-08-03
조사일 2018-10-14
수집일 2018-08-04
조사일 2018-10-14
수집일 2018-08-05
조사일 2018-10-14
수집일 2018-08-06
조사일 2018-10-14
수집일 2018-08-07
조사일 2018-10-14
수집일 2018-08-08
조사일 2018-10-14
수집일 2018-08-09
조사일 2018-10-14
수집일 2018-08-10
조사일 2018-10-14
수집일 2018-08-11
조사일 2018-10-14
수집일 2018-08-12
조사일 2018-10-14
수집일 2018-08-13
조사일 2018-10-14
수집일 2018-08-14
조사일 2018-10-14
수집일 2018-08-15
조사일 2018-10-14
수집일 2018-08-16
조사일 2018-10-14
수집일 2018-08-17
조사일 2018-10-14
수집일 2018-08-18
조사일 2018-10-14
수집일 2018-08-19
조사일 2018-10-14
수집일 2018-08-20
조사일 2018-10-14
수집일 2018-08-21
조사일 2018-10-14
수집일 2018-08-22
조사일 2018-10-14
수집일 2018-08-23
조사일 2018-10-14
수집일 2018-08-24
조사일 2018-10-14
수집일 2018-08-25
조사일 2018-10-14
수집일 2018-08-26
조사일 2018-10-14
수집일 2018-08-27
조사일 2018-10-14
수집일 2018-08-28
조사일 2018-10-14
수집일 2018-08-29
조사일 2018-10-14
수집일 2018-08-30
조사일 2018-10-14
수집일 2018-08-31
조사일 2018-10-14
수집일 2018-09-01
조사일 2018-10-14
수집일 2018-09-02
조사일 2018-10-14
수집일 2018-09-03
조사일 2018-10-14
수집일 2018-09-04
조사일 2018-10-14
수집일 2018-09-05
조사일 2018-10-14
수집일 2018-09-06
조사일 2018-10-14
수집일 2018-09-07
조사일 2018-10-14
수집일 2018-09-08
조사일 2018-10-14
수집일 2018-09-09
조사일 2018-10-14
수집일 2018-09-10
조사일 2018-10-14
수집일 2018-09-11
조사일 2018-10-14
수집일 2018-09-12
조사일 2018-10-14
수집일 2018-09-13
조사일 2018-10-14
수집일 2018-09-14
조사일 2018-10-14
수집일 2018-09-15
조사일 2018-10-14
수집일 2018-09-16
조사일 2018-10-14
수집일 2018-09-17
조사일 2018-10-14
수집일 2018-09-18
조사일 2018-10-14
수집일 2018-09-19
조사일 2018-10-14
수집일 2018-09-20
조사일 2018-10-14
수집일 2018-09-21
조사일 2018-10-14
수집일 2018-09-22
조사일 2018-10-14
수집일 2018-09-23
조사일 2018-10-14
수집일 2018-09-24
조사일 2018-10-14
수집일 2018-09-25
조사일 2018-10-14
수집일 2018-09-26
조사일 2018-10-14
수집일 2018-09-27
조사일 2018-10-14
수집일 2018-09-28
조사일 2018-10-14
수집일 2018-09-29
조사일 2018-10-14
수집일 2018-09-30
조사일 2018-10-14
수집일 2018-10-01
조사일 2018-10-14
수집일 2018-10-02
조사일 2018-10-14
수집일 2018-10-03
조사일 2018-10-14
수집일 2018-10-04
조사일 2018-10-14
수집일 2018-10-05
조사일 2018-10-14
수집일 2018-10-06
조사일 2018-10-14
수집일 2018-10-07
조사일 2018-10-14
수집일 2018-10-08
조사일 2018-10-14
수집일 2018-10-09
조사일 2018-10-14
수집일 2018-10-10
조사일 2018-10-14
수집일 2018-10-11
조사일 2018-10-14
수집일 2018-10-12
조사일 2018-10-14
수집일 2018-10-13
조사일 2018-10-14
수집일 2018-10-14
조사일 2018-10-14
수집일 2018-10-15
조사일 2018-10-16
수집일 2018-10-16
조사일 2018-10-16
수집일 2018-10-17
조사일 2018-10-23
수집일 2018-10-18
조사일 2018-10-23
수집일 2018-10-19
조사일 2018-10-23
수집일 2018-10-20
조사일 2018-10-23
수집일 2018-10-21
조사일 2018-10-23
수집일 2018-10-22
조사일 2018-10-23
수집일 2018-10-23
조사일 2018-10-23
수집일 2018-10-24
조사일 2018-10-30
수집일 2018-10-25
조사일 2018-10-30
수집일 2018-10-26
조사일 2018-10-30
수집일 2018-10-27
조사일 2018-10-30
수집일 2018-10-28
조사일 2018-10-30
수집일 2018-10-29
조사일 2018-10-30
수집일 2018-10-30
조사일 2018-10-30
수집일 2018-10-31
조사일 2018-11-06
수집일 2018-11-01
조사일 2018-11-06
수집일 2018-11-02
조사일 2018-11-06
수집일 2018-11-03
조사일 2018-11-06
수집일 2018-11-04
조사일 2018-11-06
수집일 2018-11-05
조사일 2018-11-06
수집일 2018-11-06
조사일 2018-11-06
수집일 2018-11-07
조사일 2018-11-13
수집일 2018-11-08
조사일 2018-11-13
수집일 2018-11-09
조사일 2018-11-13
수집일 2018-11-10
조사일 2018-11-13
수집일 2018-11-11
조사일 2018-11-13
수집일 2018-11-12
조사일 2018-11-13
수집일 2018-11-13
조사일 2018-11-13
수집일 2018-11-14
조사일 2018-11-20
수집일 2018-11-15
조사일 2018-11-20
수집일 2018-11-16
조사일 2018-11-20
수집일 2018-11-17
조사일 2018-11-20
수집일 2018-11-18
조사일 2018-11-20
수집일 2018-11-19
조사일 2018-11-20
수집일 2018-11-20
조사일 2018-11-20
수집일 2018-11-21
조사일 2018-11-27
수집일 2018-11-22
조사일 2018-11-27
수집일 2018-11-23
조사일 2018-11-27
수집일 2018-11-24
조사일 2018-11-27
수집일 2018-11-25
조사일 2018-11-27
수집일 2018-11-26
조사일 2018-11-27
수집일 2018-11-27
조사일 2018-11-27
수집일 2018-11-28
조사일 2018-12-04
수집일 2018-11-29
조사일 2018-12-04
수집일 2018-11-30
조사일 2018-12-04
수집일 2018-12-01
조사일 2018-12-04
수집일 2018-12-02
조사일 2018-12-04
수집일 2018-12-03
조사일 2018-12-04
수집일 2018-12-04
조사일 2018-12-04
수집일 2018-12-05
조사일 2018-12-11
수집일 2018-12-06
조사일 2018-12-11
수집일 2018-12-07
조사일 2018-12-11
수집일 2018-12-08
조사일 2018-12-11
수집일 2018-12-09
조사일 2018-12-11
수집일 2018-12-10
조사일 2018-12-11
수집일 2018-12-11
조사일 2018-12-11
수집일 2018-12-12
조사일 2018-12-18
수집일 2018-12-13
조사일 2018-12-18
수집일 2018-12-14
조사일 2018-12-18
수집일 2018-12-15
조사일 2018-12-18
수집일 2018-12-16
조사일 2018-12-18
수집일 2018-12-17
조사일 2018-12-18
수집일 2018-12-18
조사일 2018-12-18
수집일 2018-12-19
조사일 2018-12-26
수집일 2018-12-20
조사일 2018-12-26
수집일 2018-12-21
조사일 2018-12-26
수집일 2018-12-22
조사일 2018-12-26
수집일 2018-12-23
조사일 2018-12-26
수집일 2018-12-24
조사일 2018-12-26
수집일 2018-12-25
조사일 2018-12-26
수집일 2018-12-26
조사일 2018-12-26
수집일 2018-12-27
조사일 2019-01-08
수집일 2018-12-28
조사일 2019-01-08
수집일 2018-12-29
조사일 2019-01-08
수집일 2018-12-30
조사일 2019-01-08
수집일 2018-12-31
조사일 2019-01-08
수집일 2019-01-01
조사일 2019-01-08
수집일 2019-01-02
조사일 2019-01-08
수집일 2019-01-03
조사일 2019-01-08
수집일 2019-01-04
조사일 2019-01-08
수집일 2019-01-05
조사일 2019-01-08
수집일 2019-01-06
조사일 2019-01-08
수집일 2019-01-07
조사일 2019-01-08
수집일 2019-01-08
조사일 2019-01-08
수집일 2019-01-09
조사일 2019-01-15
수집일 2019-01-10
조사일 2019-01-15
수집일 2019-01-11
조사일 2019-01-15
수집일 2019-01-12
조사일 2019-01-15
수집일 2019-01-13
조사일 2019-01-15
수집일 2019-01-14
조사일 2019-01-15
수집일 2019-01-15
조사일 2019-01-15
수집일 2019-01-16
조사일 2019-01-22
수집일 2019-01-17
조사일 2019-01-22
수집일 2019-01-18
조사일 2019-01-22
수집일 2019-01-19
조사일 2019-01-22
수집일 2019-01-20
조사일 2019-01-22
수집일 2019-01-21
조사일 2019-01-22
수집일 2019-01-22
조사일 2019-01-22
수집일 2019-01-23
조사일 2019-01-29
수집일 2019-01-24
조사일 2019-01-29
수집일 2019-01-25
조사일 2019-01-29
수집일 2019-01-26
조사일 2019-01-29
수집일 2019-01-27
조사일 2019-01-29
수집일 2019-01-28
조사일 2019-01-29
수집일 2019-01-29
조사일 2019-01-29
수집일 2019-01-30
조사일 2019-02-05
수집일 2019-01-31
조사일 2019-02-05
수집일 2019-02-01
조사일 2019-02-05
수집일 2019-02-02
조사일 2019-02-05
수집일 2019-02-03
조사일 2019-02-05
수집일 2019-02-04
조사일 2019-02-05
수집일 2019-02-05
조사일 2019-02-05
수집일 2019-02-06
조사일 2019-02-12
수집일 2019-02-07
조사일 2019-02-12
수집일 2019-02-08
조사일 2019-02-12
수집일 2019-02-09
조사일 2019-02-12
수집일 2019-02-10
조사일 2019-02-12
수집일 2019-02-11
조사일 2019-02-12
수집일 2019-02-12
조사일 2019-02-12
수집일 2019-02-13
조사일 2019-02-19
수집일 2019-02-14
조사일 2019-02-19
수집일 2019-02-15
조사일 2019-02-19
수집일 2019-02-16
조사일 2019-02-19
수집일 2019-02-17
조사일 2019-02-19
수집일 2019-02-18
조사일 2019-02-19
수집일 2019-02-19
조사일 2019-02-19
수집일 2019-02-20
조사일 2019-02-26
수집일 2019-02-21
조사일 2019-02-26
수집일 2019-02-22
조사일 2019-02-26
수집일 2019-02-23
조사일 2019-02-26
수집일 2019-02-24
조사일 2019-02-26
수집일 2019-02-25
조사일 2019-02-26
수집일 2019-02-26
조사일 2019-02-26
수집일 2019-02-27
조사일 2019-03-05
수집일 2019-02-28
조사일 2019-03-05
수집일 2019-03-01
조사일 2019-03-05
수집일 2019-03-02
조사일 2019-03-05
수집일 2019-03-03
조사일 2019-03-05
수집일 2019-03-04
조사일 2019-03-05
수집일 2019-03-05
조사일 2019-03-05
수집일 2019-03-06
조사일 2019-03-12
수집일 2019-03-07
조사일 2019-03-12
수집일 2019-03-08
조사일 2019-03-12
수집일 2019-03-09
조사일 2019-03-12
수집일 2019-03-10
조사일 2019-03-12
수집일 2019-03-11
조사일 2019-03-12
수집일 2019-03-12
조사일 2019-03-12
수집일 2019-03-13
조사일 2019-03-19
수집일 2019-03-14
조사일 2019-03-19
수집일 2019-03-15
조사일 2019-03-19
수집일 2019-03-16
조사일 2019-03-19
수집일 2019-03-17
조사일 2019-03-19
수집일 2019-03-18
조사일 2019-03-19
수집일 2019-03-19
조사일 2019-03-19
수집일 2019-03-20
조사일 2019-03-26
수집일 2019-03-21
조사일 2019-03-26
수집일 2019-03-22
조사일 2019-03-26
수집일 2019-03-23
조사일 2019-03-26
수집일 2019-03-24
조사일 2019-03-26
수집일 2019-03-25
조사일 2019-03-26
수집일 2019-03-26
조사일 2019-03-26
수집일 2019-03-27
조사일 2019-04-02
수집일 2019-03-28
조사일 2019-04-02
수집일 2019-03-29
조사일 2019-04-02
수집일 2019-03-30
조사일 2019-04-02
수집일 2019-03-31
조사일 2019-04-02
수집일 2019-04-01
조사일 2019-04-02
수집일 2019-04-02
조사일 2019-04-02
수집일 2019-04-03
조사일 2019-04-09
수집일 2019-04-04
조사일 2019-04-09
수집일 2019-04-05
조사일 2019-04-09
수집일 2019-04-06
조사일 2019-04-09
수집일 2019-04-07
조사일 2019-04-09
수집일 2019-04-08
조사일 2019-04-09
수집일 2019-04-09
조사일 2019-04-09
수집일 2019-04-10
조사일 2019-04-16
수집일 2019-04-11
조사일 2019-04-16
수집일 2019-04-12
조사일 2019-04-16
수집일 2019-04-13
조사일 2019-04-16
수집일 2019-04-14
조사일 2019-04-16
수집일 2019-04-15
조사일 2019-04-16
수집일 2019-04-16
조사일 2019-04-16
수집일 2019-04-17
조사일 2019-04-23
수집일 2019-04-18
조사일 2019-04-23
수집일 2019-04-19
조사일 2019-04-23
수집일 2019-04-20
조사일 2019-04-23
수집일 2019-04-21
조사일 2019-04-23
수집일 2019-04-22
조사일 2019-04-23
수집일 2019-04-23
조사일 2019-04-23
수집일 2019-04-24
조사일 2019-04-30
수집일 2019-04-25
조사일 2019-04-30
수집일 2019-04-26
조사일 2019-04-30
수집일 2019-04-27
조사일 2019-04-30
수집일 2019-04-28
조사일 2019-04-30
수집일 2019-04-29
조사일 2019-04-30
수집일 2019-04-30
조사일 2019-04-30
수집일 2019-05-01
조사일 2019-05-07
수집일 2019-05-02
조사일 2019-05-07
수집일 2019-05-03
조사일 2019-05-07
수집일 2019-05-04
조사일 2019-05-07
수집일 2019-05-05
조사일 2019-05-07
수집일 2019-05-06
조사일 2019-05-07
수집일 2019-05-07
조사일 2019-05-07
수집일 2019-05-08
조사일 2019-05-14
수집일 2019-05-09
조사일 2019-05-14
수집일 2019-05-10
조사일 2019-05-14
수집일 2019-05-11
조사일 2019-05-14
수집일 2019-05-12
조사일 2019-05-14
수집일 2019-05-13
조사일 2019-05-14
수집일 2019-05-14
조사일 2019-05-14
수집일 2019-05-15
조사일 2019-05-21
수집일 2019-05-16
조사일 2019-05-21
수집일 2019-05-17
조사일 2019-05-21
수집일 2019-05-20
조사일 2019-05-21
수집일 2019-05-21
조사일 2019-05-21
수집일 2019-05-22
조사일 2019-05-28
수집일 2019-05-23
조사일 2019-05-28
수집일 2019-05-24
조사일 2019-05-28
수집일 2019-05-25
조사일 2019-05-28
수집일 2019-05-30
조사일 2019-05-28
수집일 2019-06-05
조사일 2019-05-28
수집일 2019-06-07
조사일 2019-05-28
수집일 2019-06-10
조사일 2019-05-28
수집일 2019-06-12
조사일 2019-05-28
수집일 2019-06-13
조사일 2019-05-28
수집일 2019-06-14
조사일 2019-05-28
수집일 2019-06-15
조사일 2019-05-28
수집일 2019-06-16
조사일 2019-05-28
수집일 2019-06-17
조사일 2019-05-28
수집일 2019-06-18
조사일 2019-05-28
수집일 2019-10-31
조사일 2019-05-28
수집일 2019-11-01
조사일 2019-05-28
수집일 2019-11-02
조사일 2019-05-28
수집일 2019-11-03
조사일 2019-05-28
수집일 2019-11-04
조사일 2019-05-28
수집일 2019-11-05
조사일 2019-05-28
수집일 2019-11-06
조사일 2019-05-28
수집일 2019-11-07
조사일 2019-05-28
수집일 2019-11-08
조사일 2019-05-28
수집일 2019-11-09
조사일 2019-05-28
수집일 2019-11-10
조사일 2019-05-28
수집일 2019-11-11
조사일 2019-05-28
수집일 2019-11-12
조사일 2019-05-28
수집일 2019-11-13
조사일 2019-05-28
수집일 2019-11-14
조사일 2019-05-28
수집일 2019-11-15
조사일 2019-05-28
수집일 2019-11-16
조사일 2019-05-28
수집일 2019-11-17
조사일 2019-05-28
수집일 2019-11-18
조사일 2019-05-28
수집일 2019-11-19
조사일 2019-05-28
수집일 2019-11-20
조사일 2019-05-28
수집일 2019-11-21
조사일 2019-05-28
수집일 2019-11-22
조사일 2019-05-28
수집일 2019-11-23
조사일 2019-05-28
수집일 2019-11-24
조사일 2019-05-28
수집일 2019-11-25
조사일 2019-05-28
수집일 2019-11-26
조사일 2019-05-28
수집일 2019-11-27
조사일 2019-05-28
수집일 2019-11-28
조사일 2019-05-28
수집일 2019-11-29
조사일 2019-05-28
수집일 2019-11-30
조사일 2019-05-28
수집일 2019-12-01
조사일 2019-05-28
수집일 2019-12-02
조사일 2019-05-28
수집일 2019-12-03
조사일 2019-05-28
수집일 2019-12-04
조사일 2019-05-28
수집일 2019-12-05
조사일 2019-05-28
수집일 2019-12-06
조사일 2019-05-28
수집일 2019-12-07
조사일 2019-05-28
수집일 2019-12-08
조사일 2019-05-28
수집일 2019-12-09
조사일 2019-05-28
수집일 2019-12-10
조사일 2019-05-28
수집일 2019-12-11
조사일 2019-05-28
수집일 2019-12-12
조사일 2019-05-28
수집일 2019-12-13
조사일 2019-05-28
수집일 2019-12-14
조사일 2019-05-28
수집일 2019-12-15
조사일 2019-05-28
수집일 2019-12-16
조사일 2019-05-28
수집일 2019-12-17
조사일 2019-05-28
수집일 2019-12-18
조사일 2019-05-28
수집일 2019-12-19
조사일 2019-05-28
수집일 2019-12-20
조사일 2019-05-28
수집일 2019-12-21
조사일 2019-05-28
수집일 2019-12-22
조사일 2019-05-28
수집일 2019-12-23
조사일 2019-05-28
수집일 2019-12-24
조사일 2019-05-28
수집일 2019-12-25
조사일 2019-05-28
수집일 2019-12-26
조사일 2019-05-28
수집일 2019-12-27
조사일 2019-05-28
수집일 2019-12-28
조사일 2019-05-28
수집일 2019-12-29
조사일 2019-05-28
수집일 2019-12-30
조사일 2019-05-28
수집일 2019-12-31
조사일 2019-05-28
수집일 2020-01-01
조사일 2019-05-28
수집일 2020-01-02
조사일 2019-05-28
수집일 2020-01-03
조사일 2019-05-28
수집일 2020-01-04
조사일 2019-05-28
수집일 2020-01-05
조사일 2019-05-28
수집일 2020-01-06
조사일 2019-05-28
수집일 2020-01-07
조사일 2019-05-28
수집일 2020-01-08
조사일 2019-05-28
수집일 2020-01-09
조사일 2019-05-28
수집일 2020-01-10
조사일 2019-05-28
수집일 2020-01-11
조사일 2019-05-28
수집일 2020-01-12
조사일 2019-05-28
수집일 2020-01-13
조사일 2019-05-28
수집일 2020-12-31
조사일 2019-05-28
수집일 2021-01-02
조사일 2019-05-28
수집일 2021-01-03
조사일 2019-05-28
수집일 2021-01-04
조사일 2019-05-28
수집일 2021-01-05
조사일 2019-05-28
수집일 2021-01-06
조사일 2019-05-28
수집일 2021-01-07
조사일 2019-05-28
수집일 2021-01-08
조사일 2019-05-28
수집일 2021-01-09
조사일 2019-05-28
수집일 2021-01-10
조사일 2019-05-28
수집일 2021-01-11
조사일 2019-05-28
수집일 2021-01-12
조사일 2019-05-28
수집일 2021-01-13
조사일 2019-05-28
수집일 2021-01-14
조사일 2019-05-28
수집일 2021-01-15
조사일 2019-05-28
수집일 2021-01-16
조사일 2019-05-28
수집일 2021-01-17
조사일 2019-05-28
수집일 2021-01-18
조사일 2019-05-28
수집일 2021-01-19
조사일 2019-05-28
수집일 2021-01-20
조사일 2019-05-28
수집일 2021-01-21
조사일 2019-05-28
수집일 2021-01-22
조사일 2019-05-28
수집일 2021-01-23
조사일 2019-05-28
수집일 2021-01-24
조사일 2019-05-28
수집일 2021-01-25
조사일 2019-05-28
수집일 2021-01-26
조사일 2019-05-28
수집일 2021-01-27
조사일 2019-05-28
수집일 2021-01-28
조사일 2019-05-28
수집일 2021-01-29
조사일 2019-05-28
수집일 2021-01-30
조사일 2019-05-28
수집일 2021-01-31
조사일 2019-05-28
수집일 2021-02-01
조사일 2019-05-28
수집일 2021-02-02
조사일 2019-05-28
수집일 2021-02-03
조사일 2019-05-28
수집일 2021-02-04
조사일 2019-05-28
수집일 2021-02-05
조사일 2019-05-28
수집일 2021-02-06
조사일 2019-05-28
수집일 2021-02-07
조사일 2019-05-28
수집일 2021-02-08
조사일 2019-05-28
수집일 2021-02-09
조사일 2019-05-28
수집일 2021-02-10
조사일 2019-05-28
수집일 2021-02-11
조사일 2019-05-28
수집일 2021-02-12
조사일 2019-05-28
수집일 2021-02-13
조사일 2019-05-28
수집일 2021-02-14
조사일 2019-05-28
수집일 2021-02-15
조사일 2019-05-28
수집일 2021-02-16
조사일 2019-05-28
수집일 2021-02-17
조사일 2019-05-28
수집일 2021-02-18
조사일 2019-05-28
수집일 2021-02-19
조사일 2019-05-28
수집일 2021-02-20
조사일 2019-05-28
수집일 2021-02-21
조사일 2019-05-28
수집일 2021-02-22
조사일 2019-05-28
수집일 2021-02-23
조사일 2019-05-28
수집일 2021-02-24
조사일 2019-05-28
수집일 2021-02-25
조사일 2019-05-28
수집일 2021-02-26
조사일 2019-05-28
수집일 2021-02-27
조사일 2019-05-28
수집일 2021-02-28
조사일 2019-05-28
수집일 2021-03-01
조사일 2019-05-28
수집일 2021-03-02
조사일 2019-05-28
수집일 2021-03-03
조사일 2019-05-28
수집일 2021-03-04
조사일 2019-05-28
수집일 2021-03-05
조사일 2019-05-28
수집일 2021-03-06
조사일 2019-05-28
수집일 2021-03-08
조사일 2019-05-28
수집일 2021-03-09
조사일 2019-05-28
수집일 2021-03-10
조사일 2019-05-28
수집일 2021-03-11
조사일 2019-05-28
수집일 2021-03-12
조사일 2019-05-28
수집일 2021-03-13
조사일 2019-05-28
수집일 2021-03-14
조사일 2019-05-28
수집일 2021-03-15
조사일 2019-05-28
수집일 2021-03-16
조사일 2019-05-28
수집일 2021-03-17
조사일 2019-05-28
수집일 2021-03-18
조사일 2019-05-28
수집일 2021-03-19
조사일 2019-05-28
수집일 2021-03-20
조사일 2019-05-28
수집일 2021-03-21
조사일 2019-05-28
수집일 2021-03-22
조사일 2019-05-28
수집일 2021-03-23
조사일 2019-05-28
수집일 2021-03-24
조사일 2019-05-28
수집일 2021-03-25
조사일 2019-05-28
수집일 2021-03-26
조사일 2019-05-28
수집일 2021-03-27
조사일 2019-05-28
수집일 2021-03-28
조사일 2019-05-28
수집일 2021-03-29
조사일 2019-05-28
수집일 2021-03-30
조사일 2019-05-28
수집일 2021-03-31
조사일 2019-05-28
수집일 2021-04-01
조사일 2019-05-28
수집일 2021-04-02
조사일 2019-05-28
수집일 2021-04-03
조사일 2019-05-28
수집일 2021-04-04
조사일 2019-05-28
수집일 2021-04-05
조사일 2019-05-28
수집일 2021-04-06
조사일 2019-05-28
수집일 2021-04-07
조사일 2019-05-28
수집일 2021-04-08
조사일 2019-05-28
수집일 2021-04-09
조사일 2019-05-28
수집일 2021-04-10
조사일 2019-05-28
수집일 2021-04-11
조사일 2019-05-28
수집일 2021-04-12
조사일 2019-05-28
수집일 2021-04-13
조사일 2019-05-28
수집일 2021-04-14
조사일 2019-05-28
수집일 2021-04-15
조사일 2019-05-28
수집일 2021-04-16
조사일 2019-05-28
수집일 2021-04-17
조사일 2019-05-28
수집일 2021-04-18
조사일 2019-05-28
수집일 2021-04-19
조사일 2019-05-28
수집일 2021-04-20
조사일 2019-05-28
수집일 2021-04-21
조사일 2019-05-28
수집일 2021-04-22
조사일 2019-05-28
수집일 2021-04-23
조사일 2019-05-28
수집일 2021-04-24
조사일 2019-05-28
수집일 2021-04-25
조사일 2019-05-28
수집일 2021-04-26
조사일 2019-05-28
수집일 2021-04-27
조사일 2019-05-28
수집일 2021-04-28
조사일 2019-05-28
수집일 2021-04-29
조사일 2019-05-28
수집일 2021-04-30
조사일 2019-05-28
수집일 2021-05-01
조사일 2019-05-28
수집일 2021-05-02
조사일 2019-05-28
수집일 2021-05-03
조사일 2019-05-28
수집일 2021-05-04
조사일 2019-05-28
수집일 2021-05-05
조사일 2019-05-28
수집일 2021-05-06
조사일 2019-05-28
수집일 2021-05-07
조사일 2019-05-28
수집일 2021-05-09
조사일 2019-05-28
수집일 2021-05-10
조사일 2019-05-28
수집일 2021-05-11
조사일 2019-05-28
수집일 2021-05-12
조사일 2019-05-28
수집일 2021-05-13
조사일 2019-05-28
수집일 2021-05-14
조사일 2019-05-28
수집일 2021-05-15
조사일 2019-05-28
수집일 2021-05-16
조사일 2019-05-28
수집일 2021-05-17
조사일 2019-05-28
수집일 2021-05-18
조사일 2019-05-28
수집일 2021-05-19
조사일 2019-05-28
수집일 2021-05-20
조사일 2019-05-28
수집일 2021-05-21
조사일 2019-05-28
수집일 2021-05-22
조사일 2019-05-28
수집일 2021-05-23
조사일 2019-05-28
수집일 2021-05-24
조사일 2019-05-28
수집일 2021-05-25
조사일 2019-05-28
수집일 2021-05-26
조사일 2019-05-28
수집일 2021-05-27
조사일 2019-05-28
수집일 2021-05-28
조사일 2019-05-28
수집일 2021-05-29
조사일 2019-05-28
수집일 2021-05-30
조사일 2019-05-28
수집일 2021-05-31
조사일 2019-05-28
수집일 2021-06-01
조사일 2019-05-28
수집일 2021-06-02
조사일 2019-05-28
수집일 2021-06-03
조사일 2019-05-28
수집일 2021-06-04
조사일 2019-05-28
수집일 2021-06-05
조사일 2019-05-28
수집일 2021-06-06
조사일 2019-05-28
수집일 2021-06-07
조사일 2019-05-28
수집일 2021-06-08
조사일 2019-05-28
수집일 2021-06-09
조사일 2019-05-28
수집일 2021-06-10
조사일 2019-05-28
수집일 2021-06-11
조사일 2019-05-28
수집일 2021-06-12
조사일 2019-05-28
수집일 2021-06-13
조사일 2019-05-28
수집일 2021-06-14
조사일 2019-05-28
수집일 2021-06-15
조사일 2019-05-28
수집일 2021-06-16
조사일 2019-05-28
수집일 2021-06-17
조사일 2019-05-28
수집일 2021-06-21
조사일 2019-05-28
수집일 2021-06-22
조사일 2019-05-28
수집일 2021-06-23
조사일 2019-05-28
수집일 2021-06-24
조사일 2019-05-28
수집일 2021-06-25
조사일 2019-05-28
수집일 2021-06-26
조사일 2019-05-28
수집일 2021-06-27
조사일 2019-05-28
수집일 2021-06-28
조사일 2019-05-28
수집일 2021-06-29
조사일 2019-05-28
수집일 2021-06-30
조사일 2019-05-28
수집일 2021-02-18
조사일 2019-05-28
수집일 2021-02-19
조사일 2019-05-28
수집일 2021-02-20
조사일 2019-05-28
수집일 2021-02-21
조사일 2019-05-28
수집일 2021-02-22
조사일 2019-05-28
수집일 2021-02-23
조사일 2019-05-28
수집일 2021-02-24
조사일 2019-05-28
수집일 2021-02-25
조사일 2019-05-28
수집일 2021-02-26
조사일 2019-05-28
수집일 2021-02-27
조사일 2019-05-28
수집일 2021-02-28
조사일 2019-05-28
수집일 2021-03-01
조사일 2019-05-28
수집일 2021-03-02
조사일 2019-05-28
수집일 2021-03-03
조사일 2019-05-28
수집일 2021-03-04
조사일 2019-05-28
수집일 2021-03-05
조사일 2019-05-28
수집일 2021-03-06
조사일 2019-05-28
수집일 2021-03-07
조사일 2019-05-28
수집일 2021-03-08
조사일 2019-05-28
수집일 2021-03-09
조사일 2019-05-28
수집일 2021-03-10
조사일 2019-05-28
수집일 2021-03-11
조사일 2019-05-28
수집일 2021-03-12
조사일 2019-05-28
수집일 2021-03-13
조사일 2019-05-28
수집일 2021-03-14
조사일 2019-05-28
수집일 2021-03-15
조사일 2019-05-28
수집일 2021-03-16
조사일 2019-05-28
수집일 2021-03-17
조사일 2019-05-28
수집일 2021-03-18
조사일 2019-05-28
수집일 2021-03-19
조사일 2019-05-28
수집일 2021-03-20
조사일 2019-05-28
수집일 2021-03-21
조사일 2019-05-28
수집일 2021-03-22
조사일 2019-05-28
수집일 2021-03-23
조사일 2019-05-28
수집일 2021-03-24
조사일 2019-05-28
수집일 2021-03-25
조사일 2019-05-28
수집일 2021-03-26
조사일 2019-05-28
수집일 2021-03-27
조사일 2019-05-28
수집일 2021-03-28
조사일 2019-05-28
수집일 2021-03-29
조사일 2019-05-28
수집일 2021-03-30
조사일 2019-05-28
수집일 2021-03-31
조사일 2019-05-28
수집일 2021-04-01
조사일 2019-05-28
수집일 2021-04-02
조사일 2019-05-28
수집일 2021-04-03
조사일 2019-05-28
수집일 2021-04-04
조사일 2019-05-28
수집일 2021-04-05
조사일 2019-05-28
수집일 2021-04-06
조사일 2019-05-28
수집일 2021-04-07
조사일 2019-05-28
수집일 2021-04-08
조사일 2019-05-28
수집일 2021-04-09
조사일 2019-05-28
수집일 2021-04-10
조사일 2019-05-28
수집일 2021-04-11
조사일 2019-05-28
수집일 2021-04-12
조사일 2019-05-28
수집일 2021-04-13
조사일 2019-05-28
수집일 2021-04-14
조사일 2019-05-28
수집일 2021-04-15
조사일 2019-05-28
수집일 2021-04-16
조사일 2019-05-28
수집일 2021-04-17
조사일 2019-05-28
수집일 2021-04-18
조사일 2019-05-28
수집일 2021-04-19
조사일 2019-05-28
수집일 2021-04-20
조사일 2019-05-28
수집일 2021-04-21
조사일 2019-05-28
수집일 2021-04-22
조사일 2019-05-28
수집일 2021-04-23
조사일 2019-05-28
수집일 2021-04-24
조사일 2019-05-28
수집일 2021-04-25
조사일 2019-05-28
수집일 2021-04-26
조사일 2019-05-28
수집일 2021-04-27
조사일 2019-05-28
수집일 2021-04-28
조사일 2019-05-28
수집일 2021-04-29
조사일 2019-05-28
수집일 2021-04-30
조사일 2019-05-28
수집일 2021-05-01
조사일 2019-05-28
수집일 2021-05-02
조사일 2019-05-28
수집일 2021-05-03
조사일 2019-05-28
수집일 2021-05-04
조사일 2019-05-28
수집일 2021-05-05
조사일 2019-05-28
수집일 2021-05-06
조사일 2019-05-28
수집일 2021-05-07
조사일 2019-05-28
수집일 2021-05-09
조사일 2019-05-28
수집일 2021-05-10
조사일 2019-05-28
수집일 2021-05-11
조사일 2019-05-28
수집일 2021-05-12
조사일 2019-05-28
수집일 2021-05-13
조사일 2019-05-28
수집일 2021-05-14
조사일 2019-05-28
수집일 2021-05-15
조사일 2019-05-28
수집일 2021-05-16
조사일 2019-05-28
수집일 2021-05-17
조사일 2019-05-28
수집일 2021-05-18
조사일 2019-05-28
수집일 2021-05-19
조사일 2019-05-28
수집일 2021-05-20
조사일 2019-05-28
수집일 2021-05-21
조사일 2019-05-28
수집일 2021-05-22
조사일 2019-05-28
수집일 2021-05-23
조사일 2019-05-28
수집일 2021-05-24
조사일 2019-05-28
수집일 2021-05-25
조사일 2019-05-28
수집일 2021-05-26
조사일 2019-05-28
수집일 2021-05-27

In [163]:
df["열매수"].unique()

array([  0, 101, 112, 105,  97,  83,  62,   7,  20,  31,  45,  61, 116,
       130, 157, 169, 163, 127, 149, 134, 126, 117,  74,  92,  69,   6,
        11,  14,  16,  17,  13,  10,  12,   3,  15,  25,  36,  47,  50,
        68,  65,  89,  76,  82,   9], dtype=int64)

In [149]:
df.drop(['index'], axis=1, inplace=True)

In [150]:
df

            수집일  내부CO2(ppm)  내부습도(%)  일사량(W/m-2·s)  외부온도(도)  내부온도(도)  열매수
0    2018-07-21      421.63    78.46        297.50    29.08    30.46    0
1    2018-07-22      410.08    70.58        284.00    30.13    31.58    0
2    2018-07-23      381.33    71.17        314.92    29.67    31.29    0
3    2018-07-24      380.54    76.58        320.33    29.75    31.17    0
4    2018-07-25      372.25    78.83        249.04    28.96    30.50    0
..          ...         ...      ...           ...      ...      ...  ...
837  2022-07-26      502.83    99.00        225.08    25.54    25.88    0
838  2022-07-27      494.13    97.71        261.63    25.67    25.88    0
839  2022-07-28      493.54    98.13        178.17    26.67    26.79    0
840  2022-07-29      524.96    97.17        293.96    28.70    28.79    0
841  2022-07-30      484.83    98.29        152.75    27.75    27.50    0

[842 rows x 7 columns]

In [157]:
cur_idx=0
for index, row in df.iterrows():
    if row['수집일'] == gr2.iloc[cur_idx, 0]:
        df.iloc[index, 6] = gr2.iloc[cur_idx, 10]
        cur_idx += 1

In [158]:
cur_idx=0
for index, row in df.iterrows():
    if row['수집일'] == gr3.iloc[cur_idx, 0]:
        df.iloc[index, 6] = gr3.iloc[cur_idx, 10]
        cur_idx += 1

IndexError: index 26 is out of bounds for axis 0 with size 26

In [160]:
cur_idx=0
for index, row in df.iterrows():
    if row['수집일'] == gr4.iloc[cur_idx, 0]:
        df.iloc[index, 6] = gr4.iloc[cur_idx, 10]
        cur_idx += 1

IndexError: index 18 is out of bounds for axis 0 with size 18

In [162]:
cur_idx=0
for index, row in df.iterrows():
    if row['수집일'] == gr5.iloc[cur_idx, 0]:
        df.iloc[index, 6] = gr5.iloc[cur_idx, 10]
        cur_idx += 1

In [165]:
df.to_csv("C:\\Users\\user\\Desktop\\MicroFarm\\MicroFarm\\Data\\Tomato\\data.csv")